<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Keywords" content="皇室,尊贵,个性,成长,等级,特权,功能,YY特权,游戏特权,YYvip,yy vip,YY会员,会员,YY,多玩,duowan">
<meta name="description" content="YY会员为用户提供更加尊贵的服务，这里有动态表情、头像，还能让你在频道树排名靠前；还有尊贵的YY靓号、频道靓号，还有靓、豪图标，为您点亮，彰显身份；频道考核不达标，还有加油卡、复活卡，让你的频道无忧果考核！">
<title>YY会员 - 我是会员 &quot;V&quot;力无限</title>
<link href="/assets/css/base.css" rel="stylesheet">
<link href="/assets/css/center.css" rel="stylesheet">
<script src="http://dl2.vip.yystatic.com/assets/js/sea2.0.0.js"></script>
</head>
<body>
	<div class="wrap index-wrap">
		<!-- vip-header {-->
		
<div class="vip-header">
    <div class="vip-header__inner">
        <div class="vip-header__logo"  style="position:relative; zoom:1; margin-left:-10px;">
        	<a target="_self" href="/vip/redirect?src=viphead"></a>
        </div>
        <ul class="vip-header__menu">
            <li><a href="/" target="_self">会员首页</a></li>
            <li><a href="/introductionsummary.html" target="_self" alllink="/vip/introduction|/p/privilege/introduction.html">会员特权</a><img src="http://dl1.vip.yystatic.com/yyvippicture/aada293afc16a87258fe8c9f85d48750.png" class="header-new-icon"/></li>
  <!--           <li><a href="/vip/game" target="_self">游戏特权</a></li> -->
            <li><a href="/p/nicecode/index.html" target="_self" alllink="/p/nicecode">靓号商城</a></li>
            <li><a href="/p/activity/index.html" target="_self">活动中心</a></li>
            <li><a href="http://show.vip.yy.com" target="_blank"><i class="purple-icon"></i>YY紫钻</a></li>
            <li><a href="/vip/pay" target="_blank">支付中心</a></li>
            <li><a href="http://hd.vip.yy.com/1506d8/index" target="self">PK互动</a></li>
        </ul>
        
        <div class="vip-header__login" id="loginArea">

        </div>
       
    </div>
</div>

		<!--} vip-header -->
		
		<div class="wp-main clearfix ">
			<div class="col-side">

				<div class="side-menu">
					<ul>
						<li class="current"><a href="#"><i
								class="side-menu__icon side-menu__icon--center"></i>个人中心</a></li>
						<li ><a href="mygift.html"><i class="side-menu__icon side-menu__icon--gift"></i>我的礼包</a></li>
						<li><a href="myprivilege.html"><i
								class="side-menu__icon side-menu__icon--privilege"></i>特权设置</a></li>
						<li><a href="myinfo.html"><i class="side-menu__icon side-menu__icon--msg"></i>我的信息</a></li>
					</ul>
				</div>
				<div style="width:100%; overflow:hidden;" id="weixidoublecode"></div>
                <div class="user-profile-ad1" id="procductWrap"></div>
			</div>
			<div class="col-main">
				<!-- 个人中心 {-->
				<div class="box box--big personal-center">
					<div class="box__bd">
						<div class="user-profile">
							<div class="user-profile-login-div"></div>
							<div class="user-profile-nologin-div">
								<a href="javascript:;" id="user-profile-nologin"
									class="table-grow__btn">请先登录</a>
							</div>
						</div>
						<div class="grow-progress">
							<div class="grow-progress__bar"></div>
							<div class="grow-progress__value" style="width:0px;"></div>
							<ul class="grow-progress__list">
								<li><p class="grow-progress__num">vip1</p><span class="grow-progress__point first"></span><p>0</p></li>
								<li><p class="grow-progress__num">vip2</p><span class="grow-progress__point"></span><p>600</p></li>
								<li><p class="grow-progress__num">vip3</p><span class="grow-progress__point"></span><p>1800</p></li>
								<li><p class="grow-progress__num">vip4</p><span class="grow-progress__point"></span><p>3600</p></li>
								<li><p class="grow-progress__num">vip5</p><span class="grow-progress__point"></span><p>6000</p></li>
								<li><p class="grow-progress__num">vip6</p><span class="grow-progress__point"></span><p>10800</p></li>
								<li><p class="grow-progress__num">vip7</p><span class="grow-progress__point"></span><p>30000</p></li>
								<li><p class="grow-progress__num">vip8</p><span class="grow-progress__point"></span><p>88888</p></li>
							</ul>
							<div class="grow-progress__value_icon grow-privilege-bg">
								<div class="grow-progress__value_bg grow-privilege-bg">
									<i><span></span><br/>当前成长</i>
									<a href="#" class="user-profile-adv" target="_blank"></a>
								</div>
							</div>
						</div>
						<div class="user-profile__adv1"></div>
						<div class="user-privilege-wrap">
							
						</div>
						<h4>成长值查询</h4>
						<div id="growth-table-wrap">
						<table class="table-s1 table-s1--noborder" id="growth-table">
							<thead>
								<tr>
									<th>成长值方式</th>
									<th>成长值获得</th>
									<th>获得时间</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
						</div>
						<p class="p-s1">
							<a href="javascript:;"></a>
						</p>


						<h4>
							等级与特权<span>想要加速更快?想要红名更威武?</span><em>加油升级吧!</em>
						</h4>

						<table class="table-s1" id="tb-1vip-privilege">
							<thead>
								<tr>
									<th>特权类型</th>
									<th>特权名称</th>
									<th>非会员</th>
									<th class="highlight">VIP1</th>
									<th class="highlight">VIP2</th>
									<th class="highlight">VIP3</th>
									<th class="highlight">VIP4</th>
									<th class="highlight">VIP5</th>
									<th class="highlight">VIP6</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>YY积分</th>
									<td class="table-s1__name">YY离线积分/月</td>
									<td rowspan="14">无</td>
									<td class="highlight">72</td>
									<td class="highlight">144</td>
									<td class="highlight">288</td>
									<td class="highlight">432</td>
									<td class="highlight">576</td>
									<td class="highlight">720</td>
								</tr>
								<tr>
									<th rowspan="3">红色昵称</th>
									<td class="table-s1__name">频道内红色昵称</td>
									<td>1个频道</td>
									<td>2个频道</td>
									<td>3个频道</td>
									<td>3个频道</td>
									<td>3个频道</td>
									<td>全频道</td>
								</tr>
								<tr>
									<td class="table-s1__name">好友列表红色昵称</td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
								</tr>
								<tr>
									<td class="table-s1__name">群内红色昵称</td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
								</tr>
								<tr>
									<th rowspan="3">排名靠前</th>
									<td class="table-s1__name">频道内排名靠前</td>
									<td>无</td>
									<td>无</td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
								</tr>
								<tr>
									<td class="table-s1__name">好友列表排名靠前</td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
								</tr>
								<tr>
									<td class="table-s1__name">群内排名靠前</td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
								</tr>
								<tr>
									<th>会员表情</th>
									<td class="table-s1__name">频道内会员表情</td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
								</tr>
								<tr>
									<th rowspan="3">会员炫铃</th>
									<td class="table-s1__name">未读消息铃声</td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
								</tr>
								<tr>
									<td class="table-s1__name">一对一语聊提醒</td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
								</tr>
								<tr>
									<td class="table-s1__name">好友上线提醒</td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
								</tr>
								<tr>
									<th>在线状态特权</th>
									<td class="table-s1__name">在线对其隐身，隐身对其在线</td>
									<td>4</td>
									<td>4</td>
									<td>5</td>
									<td>5</td>
									<td>6</td>
									<td>6</td>
								</tr>
								<tr>
									<th>游戏直播</th>
									<td class="table-s1__name">房间免排队进入</td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
								</tr>
								<tr>
									<th>音乐视频直播</th>
									<td class="table-s1__name">房间人数小于500人时免排队进入</td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
									<td><i class="icon-right"></i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--} 个人中心 -->
			</div>
		</div>

		<!-- footer-nav {-->
		 <div class="footer-nav">
    <div class="footer-nav__inner">
        <a class="footer-nav__item footer-nav__item01" href="/vip/pay" target="_blank">
            <i></i>
            <dl>
                <dt>快捷入口</dt>
                <dd>YY靓号</dd>
                <dd>快捷充值</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item02" href="http://bbs.yy.com/forum-1317-1.html" target="_blank">
            <i></i>
            <dl>
                <dt>会员论坛</dt>
                <dd>加入会员大家庭</dd>
                <dd>了解更多会员信息</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item03" href="http://kf.yy.com/faq/list/78-13.html" target="_blank" data-bdtj="/index/kf-icon">
            <i></i>
            <dl>
                <dt>YY客服</dt>
                <dd>有问题找客服</dd>
                <dd>帮您排忧解难</dd>
            </dl>
        </a>
    </div>
</div>
		<!--} footer-nav -->

		<!-- vip-footer {-->
		<div class="vip-footer">
    <div class="vip-footer__links">
        <a target="_blank" href="http://www.huanju.cn/s/introduction.html">关于欢聚</a>|<a target="_blank" href="http://hr.yy.com">欢聚招聘</a>|<a target="_blank" href="http://www.huanju.cn/s/contact.html">联系欢聚</a>|<a target="_blank" href="http://www.yy.com/go.html#10">客服频道：<strong>10</strong></a>|<a target="_blank" href="http://www.huanju.cn/s/links.html">友情链接</a>|<a target="_blank" href="http://kf.yy.com/">YY客服中心</a>
    </div>
    <div class="vip-footer__copy">
        <span>广州华多网络科技有限公司 版权所有 2005-2013 DuoWan.com [多玩游戏] 粤ICP备09075143号</span>|<span>备案编号：4401060102637</span>
    </div>
</div>


<script>
/*var _hmt = _hmt || [];
(function() {
  function loadJs(src){
  	var hm = document.createElement("script");
    hm.src = src;
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  }
  loadJs("//hm.baidu.com/hm.js?1ad6c9f9d366b2902c847ffe231db6fb");
  loadJs("http://www.duowan.com/duowan.js");
})();*/
</script>
		<!--} vip-footer -->

	</div>

	<script type="text/html" id="user-profile-info">
        <div class="user-profile__pic">
            <img src="{{logo}}" alt="">
        </div>
        <div class="user-profile__name">
            {{nick}}
            <span class="user-profile__yy">YY:{{imid}}</span>
        </div>
        <div class="user-profile__level">
            {{if info!=null && info.vipUser}}
                <i class="vip-level v{{info.vipLevel}}"></i>{{if info.vipLevel < 8}}<i class="icon-feetype-{{info.feeType}}"></i>{{/if}}
                <i id="iconPurple"></i>
            {{else}}
                <i class="vip-level v1-gray"></i>
            {{/if}}
        </div>
    </script>
	<script type="text/html" id="user-profile-growth-info">
    <table class="table-grow" >
        <tbody>
            <tr>
                <td style="border-left-color: #fff;">
                     <div class="table-grow__item">
                        <strong class="highlight" id="currGrowthVal">{{score}}</strong>目前成长值
                    </div>
                </td>
                <td>
                    <div class="table-grow__item">
                        <strong class="highlight" id="incPerDay">+{{incPerDay}}</strong>每日成长值
                    </div>
                </td>
                <td class="table-grow__vipexpire">
                    <div class="table-grow__item">
                        <strong id="vipExpireTime">{{expireTime}}</strong>会员到期
                        <div class="vipexpire_angle angle4"></div>
                    </div>
                </td>
                <td>
                    <div class="table-grow__item">
                        <strong><span class="highlight" id="vipNextGrade">{{nextGrade}}</span>天</strong>距离下次升级还有
                    </div>
                </td>
                <td style="border-right-color: #fff;">
                    <a href="/vip/pay" class="table-grow__btn">{{vipUser?'续费会员':'开通会员'}}</a>
                </td>
            </tr>
        </tbody>
    </table>
    </script>
    <!-- 年费特权区间 -->
    <script type="text/html" id="growth-year">
    <div class="table-grow__item_vipexpire">
    <p>年费特权：<strong>{{startDate}}</strong>至<strong>{{endDate}}</strong></p>
    <div class="vipexpire_line">
    	<div class="vipexpire_line3"></div>
    	<div class="vipexpire_line2"></div>
    	<div class="vipexpire_line1"></div>
    	<div class="vipexpire_rate"></div>
    </div>
    <div>
    	<span class="vipexpire_angle angle1"></span>
    	<span class="vipexpire_angle angle2"></span>
    	<span class="vipexpire_angle angle3"></span>
    </div>
    <div>
    	<span class="vipexpire_year">年费到期</span>
    	<span class="vipexpire_vip">会员到期</span>
    </div>
    </div>
    </script>
    <script type="text/html" id="growth-history">
    {{each historyList as v i}}
    <tr>
    	<td>{{v.extRemark}}</td>
    	<td><em>{{v.newScore - v.oldScore}}</em>点</td>
    	<td>{{v.updateTime}}</td>
    </tr>
    {{/each}}
    </script>
    <script type="text/html" id="user-privilege-tpl">
	    {{if feeType == 1 && vipLevel<7}}
	    	<h4 class="user-privilege-list">您正在享受VIP6专属特权</h4>
	    {{else}}
	    	<h4 class="user-privilege-list">您正在享受VIP{{vipLevel}}专属特权</h4>
	    {{/if}}
	    <a href="#" class="user-privilege-adv1 user-profile-adv" target="_blank"></a>
	    <a href="#tb-1vip-privilege" class="user-privilege-link1">你的全部VIP{{if feeType == 1 && vipLevel<7}}6{{else}}{{vipLevel}}{{/if}}特权</a>
	    <div class="clearfix"></div>
	    <ul class="grow-privilege-list">
	    	<li class="grow-privilege-bg grow-privilege__{{if vipLevel == 8}}v8"><p>V8专属身份图标</p>{{else if vipLevel == 7}}v7"><p>尊贵会员图标</p>{{else if feeType == 1 || vipLevel == 6}}v6"><p>尊贵会员图标</p>{{else}}v{{vipLevel}}"><p>尊贵会员图标</p>{{/if}}
	        </li>
	        <li class="grow-privilege-bg grow-privilege__score">
	        	<p>每月<em>
	        {{if vipLevel == 8}}
	            864</em>点离线YY积分</p>
	        {{else}}
	            {{if vipLevel == 6 || vipLevel == 7 || feeType == 1}}
		        	720
		        {{else if vipLevel == 1}}
		        	72
		        {{else if vipLevel == 2}}
		        	144
		        {{else if vipLevel == 3}}
		        	288
		        {{else if vipLevel == 4}}
		        	432
		        {{else if vipLevel == 5}}
		        	576
		        {{/if}}
	        	</em>点离线YY积分</p>
	        	<a href="http://vip.yy.com/vip/redirect?src=grzx.morejf" target="_blank">领取更多积分</a>
	        {{/if}}
	        
	        </li>
	        {{if vipLevel == 8}}
	        <li class="grow-privilege-bg grow-privilege__v8card">
	        	<p>资料卡身份铭牌</p>
	        </li>
	        {{else if vipLevel == 7}}
	        <li class="grow-privilege-bg grow-privilege__face">
	        	<p>专属超级表情</p>
	        </li>
	        {{else if feeType == 1 || vipLevel == 6}}
	        <li class="grow-privilege-bg grow-privilege__redname">
	            <p>全频道红名特权</p>
	        </li>
	        {{else}}
	        	<li class="grow-privilege-bg grow-privilege__redname">
		        	<p><em>
		        	{{if vipLevel == 1}}
		        	1
		        	{{else if vipLevel == 2}}
		        	2
		        	{{else}}
		        	3
		        	{{/if}}
		        	</em>个频道红名特权</p>
		        	<a href="http://vip.yy.com/vip/redirect?src=grzx.dhhm" target="_blank">兑换全频道红名</a>
		        </li>
	        {{/if}}
	    </ul>
	    {{if feeType == 1}}
	    <div class="user-privilege-btn-wrap">
	         <a class="user-privilege-btn" href="http://hd.vip.yy.com/1504k8/index" target="_blank">围观VIP8顶级特权</a>
	    </div>
	    {{else}}
	    <div class="user-privilege-btn-wrap vip-year">
	         <a class="user-privilege-btn" href="http://vip.yy.com/vip/vmall2?type=year" target="_blank">升级年费</a>
	         {{if vipLevel < 6 }}<a href="#tb-1vip-privilege">立享VIP6特权</a>{{/if}}
	    </div>
	    {{/if}}
    </script>
	<script>
		seajs.config({
			//alias: {
			//    "jQuery": "../lib/jquery-1.11.0.js"
			//}
			map : [ [ /^(.*\.(?:js))(.*)$/i, '$1?_=20140620' ] ]
		})
		seajs.use([ '/assets/js/logic/profile/index' ]);
	</script>

</body>
</html>
