/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-icon-1 {
  background-image: url(../img/icon.png);
  background-position: -44px 0px;
  width: 20px;
  height: 20px;
}
.icon-icon-2 {
  background-image: url(../img/icon.png);
  background-position: -38px -44px;
  width: 14px;
  height: 14px;
}
.icon-icon-3 {
  background-image: url(../img/icon.png);
  background-position: 0px -44px;
  width: 18px;
  height: 20px;
}
.icon-icon-4 {
  background-image: url(../img/icon.png);
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
}
