<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="<%= global.keywords %>">
    <meta name="description" content="<%= global.description %>">
    <title><%= global.site_name %></title>
    <link href="/assets/css/base.css" rel="stylesheet">
    <link href="/assets/css/nicecode_freecheck.css" rel="stylesheet">
    <script src="http://dl2.vip.yystatic.com/assets/js/sea2.0.0.js"></script>
</head>
<body>
    <div class="wrap index-wrap">
    
    <!-- vip-header {-->
    <% include ../../partial/vip-header %>
    <!--} vip-header -->
    <% include ./nav %>
    <div class="blank20"></div>
	
	<div class="g-24">
  		<div class="g-24-24" >
  			<div style="line-height:2; font-size:14px; padding:20px 50px;">
	  			<h1 style="font-size:20px; text-align:center; margin-bottom:20px;">频道成长道具购买须知</h1>
	  			<h2 style="font-size:16px;">一、背景</h2>
	  			<p style="text-indent:2em; margin-bottom:10px;">
	  				频道成长道具是指帮助频道成长的一种或多种辅助道具的统称。这类道具能根据频道成长过程中出现的不同需求，提供不同的服务。
	  			</p>
	  			<p style="text-indent:2em; margin-bottom:10px;">
					目前，现有的成长道具有频道短号加油卡和频道短号复活卡两种。通过官网购买，或官方活动，可获得频道成长道具。
					<a href="http://vip.yy.com/vip/nicecode/freecheck" target="_blank">【点击了解购买渠道】</a>
	  			</p>
	  			<h2 style="font-size:16px;">二、加油卡购买须知</h2>
	  			<p style="text-indent:2em; margin-bottom:10px;">
	  				频道短号加油卡，是一种可为短位频道增加持有考核分的道具，所提供的分值与实际经营所得具有同等考核效力。两者之和，构成频道当前持有考核周期的考核得分。 
	  				<a href="http://hao.yy.com/help" target="_blank">【点击了解考核分计算方法】</a>
	  			</p>
	  			<p style="text-indent:2em; margin-bottom:10px;">满足以下条件的频道，才可购买加油卡：</p>
	  			<ul style="padding-left:2em; margin-bottom:30px;">
	  				<li>1、3-6位的短位频道。</li>
	  				<li>2、频道可正常使用，无封停、无冻结；且处于正常考核状态。</li>
	  				<li>3、频道本周期还未达标，且加油卡背包中尚无可用的加油卡。</li>
	  			</ul>
	  			<p style="text-indent:2em; margin-bottom:10px;">加油卡分为加油金卡、加油银卡、加油铜卡三类，分别为频道增加持有考核标准分的100%、70%和40%的分值。OW每次购买时，系统将自动为频道匹配一张能保证频道达标的、分值最小的卡。如某6位频道还差30分完成达标，则购买时，系统自动为您匹配一张铜卡。</p>
	  			<p style="text-indent:2em; margin-bottom:10px;">购买成功后，加油卡所提供的考核分将立即生效于频道的考核系统中。</p>
	  			<p style="text-indent:2em; margin-bottom:10px;">如果用户在频道考核期间更换短号，则新的频道短号重新考核，所有考核分（包括加油卡所提供的）也将清零。</p>
	  			<p style="text-indent:2em; margin-bottom:10px;">加油卡仅作用于短位频道持有考核。购买了加油卡的频道，仍需遵循YY社区各相关秩序规定，若频道出现违反 YY 社区秩序相关规定的行为，YY官方将依规则对频道进行处罚。</p>
	  			<p style="text-indent:2em; margin-bottom:10px;">加油卡使用状况，可通过<a href="https://hao.yy.com/chgrow/index" target="_blank">【成长道具背包</a>】查看。</p>
	  			<p style="text-indent:2em; margin-bottom:10px;color:red;">特别注意：加油卡仅识别短位ID。当您更换了短位ID时，原短号上的加油卡也将失效消失。</p>
	  			<h2 style="font-size:16px;">三、复活卡购买须知<span style="font-size: 14px;font-weight: normal;">(目前仅对OW会员开放)</span></h2>
	  			<p style="text-indent:2em; margin-bottom:10px;">频道短号复活卡，是指能帮助OW找回被回收短号的一种道具。每个频道每自然年内仅允许复活一次。</p>
	  			<p style="text-indent:2em; margin-bottom:10px;">满足以下条件的频道，才可购买复活卡：</p>
	  			<ul style="padding-left:2em; margin-bottom:30px;">
	  				<li>1、短号回收时长小于30天。</li>
	  				<li>2、被回收的短号未被其他频道绑定。</li>
	  				<li>3、原始频道已完成频道类型认证、无封停。</li>
	  				<li>4、每自然年内，单个原始频道仅拥有一次复活机会。</li>
	  				<li>5、被复活的频道当前不能有短号被绑定</li>
	  			</ul>
	  			<p style="text-indent:2em; margin-bottom:10px;">用户可在<a href="http://vip.yy.com/vip/nicecode/freecheck" target="_blank">【频道成长道具官网】</a>购买复活卡。购买时，须填写一个原始频道号，由系统检测是否可复活。如果可复活，则系统返回其被回收的短号，确认后成功付款，即可复活，复活的短号会即时重新绑定在长位频道上了。</p>
	  			<p style="text-indent:2em; margin-bottom:10px;">复活卡仅作用于短位频道找回使用。购买了复活卡的频道，仍需遵循YY社区各相关秩序规定，若频道出现违反 YY 社区秩序相关规定的行为，YY官方将依规则对频道进行处罚。</p>
  			</div>
  		 </div>
      <!-- footer-nav {-->
        <% include ../../partial/footer-nav %>
        <!--} footer-nav -->

        <!-- vip-footer {-->
        <% include ../../partial/vip-footer %>
        <!--} vip-footer -->
       </div>
    </div>

    <script>
        seajs.config({
            //alias: {
            //    "jQuery": "../lib/jquery-1.11.0.js"
            //}
            map : [
                [ /^(.*\.(?:js))(.*)$/i, '$1?_=20140620']
            ]
        })
        seajs.use(['/assets/js/logic/nicecode/freecheck']);

     </script>

</body>
</html>