<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="<%= global.keywords %>">
    <meta name="description" content="<%= global.description %>">
    <title><%= global.site_name %></title>
    <link href="/assets/css/base.css" rel="stylesheet">
    <link href="/assets/css/nicecode_yy.css?20150413" rel="stylesheet">
    <script src="http://dl2.vip.yystatic.com/assets/js/sea2.0.0.js"></script>
</head>
<body>
    <div class="wrap index-wrap">
    
        <!-- vip-header {-->
        <% include ../../partial/vip-header %>
        <!--} vip-header -->
        <% include ./nav %>
        <div class="yy-main text-filter-box">
            <h3 id="textFilter"><span id="filterTitle"></span>&nbsp;&gt;&nbsp;<input type="text" placeholder="在当前条件下搜索靓号，例如：888"/><a href="javascript:;" class="prizes-list__btn">搜索</a></h3>
            <a href="javascript:;" class="buy-rules" id="buyRules">靓号购买说明»</a>
        </div>
        <!-- 搜索条件 {-->
        <dl class="yy-main filter-list" id="coderFilter"></dl>
         <!-- }搜索条件 -->


        <div class="wp-col2-main clearfix">
            <div class="col-main">
            <ul class="nicecode-list" id="imListBox"><li class="loading"></li></ul>
                <div id="pager" class="pagination"></div>
            </div>
            <div class="col-side">
                 <div class="box top-num-box">
                    <div class="box__hd">
                        <h3 class="box__hd__title">土豪靓号</h3>
                        <div class="box__hd__act">
                            <a class="box__hd__more" href="/p/nicecode/index.html" target="_blank">更多»</a>
                        </div>                        
                    </div>
                    <div class="box__bd">
                        <div class="top-num" id="niceCodeBox"><p class="loading"></p></div>
                    </div>
                    <div class="box__ft">
                        <a href="javascript:;" id="getNiceCode">换一批</a>
                    </div>
                </div>
                <div id="mallTrendAxd"></div>
                <div class="box top-num-box">
                    <div class="box__hd">
                        <h3 class="box__hd__title">今日推荐</h3>
                        <div class="box__hd__act">
                            <a class="box__hd__more" href="/p/nicecode/index.html" target="_blank">更多»</a>
                        </div>                        
                    </div>
                    <div class="box__bd">
                        <div class="top-num" id="niceCodeLowBox"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer-nav {-->
        <% include ../../partial/footer-nav %>
        <!--} footer-nav -->

        <!-- vip-footer {-->
        <% include ../../partial/vip-footer %>
        <!--} vip-footer -->
    </div>

<!-- 搜索条件-->
<script id="tpl_coldfilter" type="text/html">
    <dt>靓号位数</dt>
    <dd>
        <p> 
            {{each widthFilterList as v1 j }}
                <a data-code="{{v1.id}}" class="j-select-size{{if j==0}} active{{/if}}" href="javascript:;" >{{v1.name}}</a>
            {{/each}}
        </p>
    </dd>
   {{each filterList as v i}}
        <dt>{{v.title}}</dt>
        <dd>
            <p> 
                <a data-code="0" class="j-select-code active" href="javascript:;">全部</a>
                {{each v.items as v1 j }}
                    <a data-code="{{v1.code}}" class="j-select-code" href="javascript:;">{{v1.name}}</a>
                {{/each}}
            </p>
        </dd>
    {{/each}}
    {{if pagetype != 21}}
    <dt>价格</dt>
    <dd>
        <p> 
            {{each priceRangeFilterList as v1 j }}
                <a data-code="{{v1.id}}" class="j-select-prize{{if j==0}} active{{/if}}" href="javascript:;">{{v1.name}}</a>
            {{/each}}
        </p>
    </dd>
    {{/if}}
</script>

    <!-- ＹＹ靓号 -->
<script id="tpl_ImList" type="text/html">
    {{each list as v i}}
        <li>
            <a href="http://vip.yy.com/vip/vmall2/detailpay?productId={{v.id}}" target="_blank">  
            <h3 class="item-head"><i class="icon_imcode_{{v.mt}}"></i> {{#v.highlightKey}}</h3>
            <p class="item-desc">送{{v.membTimePrize}}天YY会员 </p>
            <p class="item-desc-money">¥{{v.price}}元</p>
            </a>
        </li>   
    {{/each}}
    {{if list.length == 0}}<p class="nodata-desc">亲，该规则靓号暂时缺货哦，试试别的吧！</p>{{/if}}
</script>

    <!-- 频道靓号 -->
<script id="tpl_ChList" type="text/html">
    {{each list as v i}}
        <li>
            <a href="http://vip.yy.com/vip/vmall2/detailpay?productId={{v.id}}" target="_blank"> 
            <h3 class="item-head"><i class="icon_nicecode"></i> {{#v.highlightKey}}</h3>
            <p class="item-desc">送3张加油金卡</p>
            <p class="item-desc-money">¥{{v.price}}元</p>
            </a>
        </li> 
  
    {{/each}}
     {{if list.length == 0}}<p class="nodata-desc">亲，该规则靓号暂时缺货哦，试试别的吧！</p>{{/if}}
</script>

    <!-- 情侣靓号 -->
<script id="tpl_LoversList" type="text/html">
    {{each list as v i}}
         <li>
         <a href="http://vip.yy.com/vip/vmall2/detailpay?productId={{v.id}}" target="_blank">
         <h3 class="item-head item-love"><i class="icon_nicecode icon_lover"></i>{{#v.m_highlightKey}} <br /> {{#v.s_highlightKey}}</h3>  
         <p class="item-desc">分别送{{v.membTimePrize}}天YY会员 </p>
         <p class="item-desc-money">¥{{v.price}}元</p>
         </a></li>         
    {{/each}}
     {{if list.length == 0}}<p class="nodata-desc">亲，该规则靓号暂时缺货哦，试试别的吧！</p>{{/if}}
</script>

    <!-- 租靓号 -->
<script id="tpl_ImListZL" type="text/html">
    {{each list as v i}}
        <li>
            <a href="http://vip.yy.com/vip/vmall2/imidrent?productId={{v.id}}" target="_blank">  
            <h3 class="item-head"><i class="icon_imcode_0"></i> {{#v.highlightKey}}</h3>
            <p class="item-desc">单月租赁价格低至</p>
            <p class="item-desc-money">¥{{v.price}}元</p>
            </a>
        </li>   
    {{/each}}
    {{if list.length == 0}}<p class="nodata-desc">亲，该规则靓号暂时缺货哦，试试别的吧！</p>{{/if}}
</script>



    <!-- 随机靓号推广 -->
<script id="tplNiceCode" type="text/html">
    {{each hotCodes as v i}}
        <div class="top-num__item">
            <div class="top-num__t">
                <a href="http://vip.yy.com/vip/vmall2/detailpay?productId={{v.id}}" target="_blank" class="top-num__buy">抢购</a>
                <span  class="top-num__num"><i></i>{{v.key}}</span>
            </div>
            <div class="top-num__b">
                <span class="top-num__price">&yen;{{v.price}} 元</span>
                <span>送{{v.membTimePrize}}天YY会员</span>
            </div>
        </div>          
    {{/each}}
</script>

    <script>
        seajs.config({
            //alias: {
            //    "jQuery": "../lib/jquery-1.11.0.js"
            //}
            map : [
                [ /^(.*\.(?:js))(.*)$/i, '$1?_=20140620']
            ]
        })
        seajs.use(['/assets/js/logic/nicecode/yy']);

     </script>

</body>
</html>
