<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="皇室,尊贵,个性,成长,等级,特权,功能,YY特权,游戏特权,YYvip,yy vip,YY会员,会员,YY,多玩,duowan">
    <meta name="description" content="YY会员为用户提供更加尊贵的服务，这里有动态表情、头像，还能让你在频道树排名靠前；还有尊贵的YY靓号、频道靓号，还有靓、豪图标，为您点亮，彰显身份；频道考核不达标，还有加油卡、复活卡，让你的频道无忧果考核！">
    <title>YY会员 - 我是会员 &quot;V&quot;力无限</title>
    <link href="/assets/css/base.css" rel="stylesheet">
    <link href="/assets/css/welfare.css?v=1" rel="stylesheet">
    <link href="/assets/css/center.css" rel="stylesheet">
    <script src="http://dl2.vip.yystatic.com/assets/js/sea2.0.0.js"></script>
</head>
<body id="page-top">
    <div class="wrap index-wrap">
    
        <!-- vip-header {-->
        
<div class="vip-header">
    <div class="vip-header__inner">
        <div class="vip-header__logo"  style="position:relative; zoom:1; margin-left:-10px;">
        	<a target="_self" href="/vip/redirect?src=viphead"></a>
        </div>
        <ul class="vip-header__menu">
            <li><a href="/" target="_self">会员首页</a></li>
            <li><a href="/introductionsummary.html" target="_self" alllink="/vip/introduction|/p/privilege/introduction.html">会员特权</a><img src="http://dl1.vip.yystatic.com/yyvippicture/aada293afc16a87258fe8c9f85d48750.png" class="header-new-icon"/></li>
  <!--           <li><a href="/vip/game" target="_self">游戏特权</a></li> -->
            <li><a href="/p/nicecode/index.html" target="_self" alllink="/p/nicecode">靓号商城</a></li>
            <li><a href="/p/activity/index.html" target="_self">活动中心</a></li>
            <li><a href="http://show.vip.yy.com" target="_blank"><i class="purple-icon"></i>YY紫钻</a></li>
            <li><a href="/vip/pay" target="_blank">支付中心</a></li>
            <li><a href="http://hd.vip.yy.com/1506d8/index" target="self">PK互动</a></li>
        </ul>
        
        <div class="vip-header__login" id="loginArea">

        </div>
       
    </div>
</div>

        <!--} vip-header -->

        <div class="index-main clearfix">
            
            <div class="row-head">
                <div class="welfare-adv">
                    
                </div>
                <div class="welfare-info">
                    <div class="welfare-p-info">
                        <p class="loading">
                            <img src="/assets/img/ajaxloaderbig.gif" width="35" height="35">
                        </p>
                    </div>
                    <hr/>
                    <div class="welfare-v-info">
                        <p>V豆余额：<span id="v-left-count">0</span>&nbsp;V豆</p>
                        <div><a href="javascript:;" class="v-my-gift login-btn">我的礼品</a><a href="javascript:;" class="v-detail login-btn">V豆详情</a></div>
                    </div>
                </div>
            </div>
            <h3 id="v-exchange">V豆<span>兑换</span></h3>
            <p class="v-getmorepri">
            	<a target="_blank" href="http://vip.yy.com/introductionsummary.html">了解更多会员特权</a>
            </p>
            <div class="content-wrap v-exchange-time-wrap">
                <div class="left-side-block"></div>
                <div class="right-side-block"></div>
                <p class="loading">
                    <img src="/assets/img/ajaxloaderbig.gif" width="35" height="35">
                </p>
            </div>
            <div class="content-wrap v-exchange-count-wrap">
                <div class="left-side-block"></div>
                <div class="right-side-block"></div>
                <p class="loading">
                    <img src="/assets/img/ajaxloaderbig.gif" width="35" height="35">
                </p>
            </div>
            <h3 id="v-roll">V豆<span>抽奖</span></h3>
            <p class="v-getmorepri">
            	<a target="_blank" href="http://vip.yy.com/introductionsummary.html">了解更多会员特权</a>
            </p>
            <div class="v-roll-wrap">
                <div class="content-wrap v-roll-area">
                    <p class="loading">
                        <img src="/assets/img/ajaxloaderbig.gif" width="35" height="35">
                    </p>
                </div>
                <div class="content-wrap v-lucky-area clearfix">
                    <h4>每日幸运专区</h4>
                    <p class="loading">
                        <img src="/assets/img/ajaxloaderbig.gif" width="35" height="35">
                    </p>
                    <table class="lucky-table">
                        
                    </table>
                </div>
            </div>
            <h3 id="v-make"><span>赚取</span>V豆</h3>
            <div class="content-wrap v-make-wrap">
                <!-- welfare-task {-->
                <table class="v-make-list">
    <tbody>
        <tr>
            <td>
                <div class="login-btn v-make-container" data-flag="1">
                    <img src="/assets/img/welfare/check-in.png">
                    <div>
                        <h4 class="v-make-title">每日心情签到</h4>
                        <p class="v-make-desc">奖励：1 V豆<br/>每个会员每天可以签到1次，签到完成当日内可到福利社领取1V豆。</p>
                        <div class="button1">立即领取</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="login-btn v-make-container" data-flag="2">
                    <img src="/assets/img/welfare/week-salary.png">
                    <div>
                        <h4 class="v-make-title">每周领取</h4>
                        <p class="v-make-desc">奖励：1-4 V豆<br/>每个会员每周可领取1次，V1-V4用户每周领取2V豆，V5-V7用户每周领取4V豆。</p>
                        <div class="button1">立即领取</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="login-btn v-make-container" data-flag="3">
                    <img src="/assets/img/welfare/v-icon.png">
                    <div>
                        <h4 class="v-make-title">访问V图标</h4>
                        <p class="v-make-desc">奖励：随机 1-8 V豆<br/>所有YY用户每日点击YY主面板V图标访问官网，获得当日1次随机领取V豆资格，有机会获得1-8不等的V豆。</p>
                        <div class="button1">随机领取</div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="login-btn v-make-container" data-flag="4">
                    <img src="/assets/img/welfare/pay.png">
                    <div>
                        <h4 class="v-make-title">充值会员</h4>
                        <p class="v-make-desc" >奖励：10-30 V豆<br/>每月首次在本页面充值会员（开通/续费）可获得V豆奖励：一次性充值（开通/续费）1年以下，可获得10V豆；一次性充值（开通/续费）年费，可获得30V豆。</p>
                        <div class="button1">立即充值</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="login-btn v-make-container" data-flag="5">
                    <span class="icon icon-hot"></span>
                    <img src="/assets/img/welfare/pay-send.png">
                    <div>
                        <h4 class="v-make-title">赠送会员</h4>
                        <p class="v-make-desc">奖励：15-40 V豆<br/>每月首次在本页面为Y友充值会员，付款用户可以获得V豆奖励：一次性充值（开通/续费）1年以下，可获得15V豆；一次性充值（开通/续费）年费，可获得40V豆。每月最多可赠送5次。</p>
                        <div class="button1">立即赠送</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="v-make-container" pcode="147" gcode="0" id="dyyueButton">
                    <img src="/assets/img/welfare/unknow.png">
                    <div>
                        <h4 class="v-make-title">更多任务敬请期待</h4>
                        <p class="v-make-desc">更多精彩即将推出，订阅会员Y阅，第一时间获取最新资讯</p>
                        <div class="button1">订阅Y阅</div>
                    </div>
                </div>
                <div class="v-make-container" id="ydyButton" style="display: none;">
                    <img src="/assets/img/welfare/unknow.png">
                    <div>
                        <h4 class="v-make-title">更多任务敬请期待</h4>
                        <p class="v-make-desc">更多精彩即将推出，订阅会员Y阅，第一时间获取最新资讯</p>
                        <div class="button1 button-gray">已订阅</div>
                    </div>
                </div>
        </tr>
    </tbody>
</table>
                 <!-- welfare-task -->
            </div>
            <h3>福利社<span>说明</span></h3>
            <div class="content-wrap">
                <ul class="intro-list">
                    <li><p>V豆有效期：单次获得的V豆有效期为60天，超过有效期未被使用的V豆将会失效（获得V豆后的第61天），获得时间较早的V豆会优先使用；会员用户可在V豆有效期内使用V豆兑换、抽取礼品。非会员可在“V豆抽奖”和“每日幸运专区”使用V豆</p>
                    </li>
                    <li><p>V豆余额：非会员用户若有V豆余额，每日扣除1V豆。</p>
                    </li>
                    <li><p>福利社礼品：</p>
                    <dt>
                        <dl>
                        <p>点击“我的礼品”查看兑换成功或者抽中的礼品，可访问兑换地址并使用礼品兑换码免费购买实物商品（商家若未说明包邮均默认邮费自理）；</p>
                        </dl>
                        <dl>
                        <p>请在兑换码有效期前使用；</p>
                        </dl>
                        <dl>
                        <p>一个礼品兑换码对应一单商品交易（同一件礼品多次成功兑换或者多次抽中，需为每一件支付邮费）；</p>
                        </dl>
                        <dl>
                        <p>若在商品购买过程中遇到问题（例如操作流程，商品质量等问题）请咨询相应商家的客服。</p>
                        </dl>
                    </dt>
                    </li>
                    <li><p>声明：若有恶意刷取礼品的情况，一经核实官方有权对刷取的兑换码进行回收。</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="welfare-nav">
            <a class="welfare-nav-link" href="http://vip.yy.com/vip/vmall2/vipWelfare1" target="_blank">开通会员</a>
            <a class="welfare-nav-link" href="javascript:;" data-href="v-exchange">V豆兑换</a>
            <a class="welfare-nav-link" href="javascript:;" data-href="v-roll">V豆抽奖</a>
            <a class="welfare-nav-link" href="javascript:;" data-href="v-make">赚取V豆</a>
            <a class="goto-top" href="javascript:;" data-href="page-top"></a>
        </div>

        <!-- footer-nav {-->
         <div class="footer-nav">
    <div class="footer-nav__inner">
        <a class="footer-nav__item footer-nav__item01" href="/vip/pay" target="_blank">
            <i></i>
            <dl>
                <dt>快捷入口</dt>
                <dd>YY靓号</dd>
                <dd>快捷充值</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item02" href="http://bbs.yy.com/forum-1317-1.html" target="_blank">
            <i></i>
            <dl>
                <dt>会员论坛</dt>
                <dd>加入会员大家庭</dd>
                <dd>了解更多会员信息</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item03" href="http://kf.yy.com/faq/list/78-13.html" target="_blank" data-bdtj="/index/kf-icon">
            <i></i>
            <dl>
                <dt>YY客服</dt>
                <dd>有问题找客服</dd>
                <dd>帮您排忧解难</dd>
            </dl>
        </a>
    </div>
</div>
        <!--} footer-nav -->

        <!-- vip-footer {-->
        <div class="vip-footer">
    <div class="vip-footer__links">
        <a target="_blank" href="http://www.huanju.cn/s/introduction.html">关于欢聚</a>|<a target="_blank" href="http://hr.yy.com">欢聚招聘</a>|<a target="_blank" href="http://www.huanju.cn/s/contact.html">联系欢聚</a>|<a target="_blank" href="http://www.yy.com/go.html#10">客服频道：<strong>10</strong></a>|<a target="_blank" href="http://www.huanju.cn/s/links.html">友情链接</a>|<a target="_blank" href="http://kf.yy.com/">YY客服中心</a>
    </div>
    <div class="vip-footer__copy">
        <span>广州华多网络科技有限公司 版权所有 2005-2013 DuoWan.com [多玩游戏] 粤ICP备09075143号</span>|<span>备案编号：4401060102637</span>
    </div>
</div>


<script>
/*var _hmt = _hmt || [];
(function() {
  function loadJs(src){
  	var hm = document.createElement("script");
    hm.src = src;
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  }
  loadJs("//hm.baidu.com/hm.js?1ad6c9f9d366b2902c847ffe231db6fb");
  loadJs("http://www.duowan.com/duowan.js");
})();*/
</script>
        <!--} vip-footer -->
    </div>
    <script type="text/html" id="vip-info">
    {{if result && data != null}}
        <img class="info-logo" src=""/>
        <p class="no-wrap {{if data.info.vipUser}}vip-nick{{/if}}" title="{{data.nick}}">{{data.nick}}</>
        <div>
            {{if data.info.vipUser}}
            <span class="icon-lv vip-lv_{{data.info.vipLevel}}"></span><span class="icon-lv vip_{{data.info.feeType}}"></span>
            {{else}}
            <span class="icon-lv vip-lv_{{data.info.vipLevel}}-gray"></span><span class="icon-lv vip_{{data.info.feeType}}-gray"></span>
            {{/if}}
        </div>
    {{else}}
        <a href="javascript:;" class="my-login login-btn">我要登录</a>
    {{/if}}
    </script>
    <!-- 每日幸运专区 -->
    <script type="text/html" id="tpl-dialy-lucky-list">
    <tbody>
    <tr>
    {{each dailylottery as v i}}
    <td><a href="{{v.productLink}}" target="_blank"><img src="{{v.imgUrl}}"/><p>{{v.productName}}</p></a></td>
    {{/each}}
    <tr>
    <td><img src="/assets/img/welfare/thanks.png"></td>
    <td><a href="javascript:;" class="icon do-lucky login-btn" data-flag="0"></a></td>
    <td><img src="/assets/img/welfare/thanks.png"></td>
    </tr>
    <tr>
    <td><a href="http://photo.189.cn/jsp/website/activity/yy/yyindex.jsp?id=photo" target="_blank"><img src="http://dl1.vip.yystatic.com/yyvippicture/5ad3290ac7c0e8dfbda360a6f3e041ab.jpg"/><p>6寸20张晶锐照片冲印券</p></a></td>
    <td><a href="http://photo.189.cn/jsp/website/activity/yy/yyindex.jsp?id=74793908772670" target="_blank"><img src="http://dl3.vip.yystatic.com/yyvippicture/6fc584a23c8deeca9dcadc3b461b85db.jpg"/><p>定制拍立得明信片</p></a></td>
    <td><a href="http://photo.189.cn/jsp/website/activity/yy/yyindex.jsp?id=48790387251612" target="_blank"><img src="http://dl1.vip.yystatic.com/yyvippicture/db383993ef44eaffc781c3e022ddd7c4.jpg"/><p>卡通绕线器</p></a></td>
    </tr>
    </tbody>
    </script>
    <!-- 幸运专区template -->
    <script type="text/html" id="tpl-lucky-list">
    <a class="icon goto-left {{if !lotteryPrizes || lotteryPrizes.length <= 3}}hidden{{/if}}" href="javascript:;"></a>
    <div class="lucky-list-container">
        {{if lotteryPrizes && lotteryPrizes.length > 0}}
            <ul class="welfare-list lucky-list">
                {{each lotteryPrizes as v i}}
                    <li data-pid="{{v.productId}}">
                        <div class="img-container">
                            <img src="{{v.imgUrl}}" />
{{if v.productLink}}
    <a href="{{v.productLink}}" target="_blank" class="statis-a"></a>
{{else}}
    <a href="javascript:;"></a>
{{/if}}
<p class="welfare-name-wrap"><i class="welfare-name">{{v.productName}}</i></p>
{{if v.islove}}
	<div class="heart">
		<a href="javascript:;" class="active" data-text="&hearts;">&hearts;</a>
	</div>
{{else}}
	<div class="heart">
		<a href="javascript:;" class="login-btn not-love-a" data-text="&hearts;">&hearts;</a>
	</div>
{{/if}}
{{if v.isNew}}
    <span class="icon icon-new"></span>
{{/if}}
                        </div>
                        <p class="welfare-cost one-row">消耗：<span class="hl">{{v.beanNum}}</span>&nbsp;V豆</p>    
                        <a class="login-btn welfare-btn" data-lottery="{{i+1}}" data-flag="0" href="javascript:;">试试手气</a>
                    </li>
                 {{/each}}
            </ul>
        {{else}}
            <p class="modaa-ctr-notips">暂时没有</p>
        {{/if}}
    </div>
    <a class="icon goto-right {{if !lotteryPrizes || lotteryPrizes.length <= 3}}hidden{{/if}}" href="javascript:;"></a>
    </script>
    <!-- 限时领奖template -->
    <script type="text/html" id="tpl-time-list">
    <a class="icon goto-left {{if !limitTime || limitTime.length <= 4}}hidden{{/if}}" href="javascript:;"></a>
    <div class="lucky-list-container time-list-container">
        {{if limitTime && limitTime.length > 0}}
            <ul class="welfare-list lucky-list">
                {{each limitTime as v i}}
                    <li data-pid="{{v.productId}}" class="welfare-larger-li">
                        <div class="img-container">
                           <img src="{{v.imgUrl}}" />
{{if v.productLink}}
    <a href="{{v.productLink}}" target="_blank" class="statis-a"></a>
{{else}}
    <a href="javascript:;"></a>
{{/if}}
<p class="welfare-name-wrap"><i class="welfare-name">{{v.productName}}</i></p>
{{if v.islove}}
	<div class="heart">
		<a href="javascript:;" class="active" data-text="&hearts;">&hearts;</a>
	</div>
{{else}}
	<div class="heart">
		<a href="javascript:;" class="login-btn not-love-a" data-text="&hearts;">&hearts;</a>
	</div>
{{/if}}
{{if v.isNew}}
    <span class="icon icon-new"></span>
{{/if}}
                        </div>
                        <p class="welfare-cost two-row">需要：<span class="hl">{{v.beanNum}}</span>&nbsp;V豆<br/>
                        剩余：<span class="welfare-left-time" data-time="{{v.leftTime}}"></span>
                        </p>
                        <a class="login-btn welfare-btn" data-flag="1" href="javascript:;">兑换</a>
                    </li>
                 {{/each}}
            </ul>
        {{else}}
            <p class="modaa-ctr-notips">暂时没有</p>
        {{/if}}
    </div>
    <a class="icon goto-right {{if !limitTime || limitTime.length <= 4}}hidden{{/if}}" href="javascript:;"></a>
    </script>
    <!-- 限量领奖template -->
    <script type="text/html" id="tpl-count-list">
    <a class="icon goto-left {{if !limitNum || limitNum.length <= 4}}hidden{{/if}}" href="javascript:;"></a>
    <div class="lucky-list-container count-list-container">
        {{if limitNum && limitNum.length > 0}}
            <ul class="welfare-list lucky-list">
                {{each limitNum as v i}}
                    <li data-pid="{{v.productId}}" class="welfare-larger-li">
                        <div class="img-container">
                            <img src="{{v.imgUrl}}" />
{{if v.productLink}}
    <a href="{{v.productLink}}" target="_blank" class="statis-a"></a>
{{else}}
    <a href="javascript:;"></a>
{{/if}}
<p class="welfare-name-wrap"><i class="welfare-name">{{v.productName}}</i></p>
{{if v.islove}}
	<div class="heart">
		<a href="javascript:;" class="active" data-text="&hearts;">&hearts;</a>
	</div>
{{else}}
	<div class="heart">
		<a href="javascript:;" class="login-btn not-love-a" data-text="&hearts;">&hearts;</a>
	</div>
{{/if}}
{{if v.isNew}}
    <span class="icon icon-new"></span>
{{/if}}
                            {{if v.leftNum == 0}}
                             <span class="icon icon-sold"></span>
                            {{/if}}
                        </div>
                        <p class="welfare-cost two-row">需要：<span class="hl">{{v.beanNum}}</span>&nbsp;V豆<br/>
                        剩余：<span class="welfare-left-num">{{v.leftNum}}</span>份
                        </p>
                        {{if v.leftNum <= 0}}
                            <a class="login-btn welfare-btn welfare-btn-1" data-flag="3" href="javascript:;">要求补货</a>
                        {{else}}
                            <a class="login-btn welfare-btn" data-flag="2" href="javascript:;">兑换</a>
                        {{/if}}
                       
                    </li>
                 {{/each}}
            </ul>
        {{else}}
            <p class="modaa-ctr-notips">暂时没有</p>
        {{/if}}
    </div>
    <a class="icon goto-right {{if !limitNum || limitNum.length <= 4}}hidden{{/if}}" href="javascript:;"></a>
    </script>
    <script type="text/html" id="tpl-time-list"></script>
    <script type="text/html" id="tpl-count-list"></script>
    <script>
        seajs.config({
            //alias: {
            //    "jQuery": "../lib/jquery-1.11.0.js"
            //}
            map : [
                [ /^(.*\.(?:js))(.*)$/i, '$1?_=20140620']
            ]
        })
        seajs.use(['/assets/js/logic/welfare']);

     </script>

</body>
</html>