<div class="check-in">
    <a href="/vzone/mood/index" target="_blank" class="check-in__btn"><i></i>我要签到</a>
    <ul class="task-list clearfix">
        <li>
            <a href="/p/welfare.html" target="_blank" class="task-list__link task-list__link--01">
                <i class="task-list__link--01_sign">1</i>
                <span class="task-list__title">福利社</span>
                <span class="task-list__mask"></span>
            </a>
        </li>
        <li>
            <a href="/vzone/mood/gift#modEgg" target="_blank" class="task-list__link task-list__link--02">
                <span class="task-list__title">领彩蛋</span>
                <span class="task-list__mask"></span>
            </a>
        </li>
         <li>
            <a href="/vip/vcard/index#index" target="_blank" class="task-list__link task-list__link--03">
                <span class="task-list__title">V卡商城</span>
                <span class="task-list__mask"></span>
            </a>
        </li>
         <li>
            <a href="http://vip.yy.com/vip/redirect?src=from_vip_signtab_4" target="_blank" class="task-list__link task-list__link--04">
                <span class="task-list__title">紫钻任务</span>
                <span class="task-list__mask"></span>
            </a>
        </li>
         <li>
            <a href="http://vip.yy.com/vip/redirect?src=from_vip_signtab_5" target="_blank" class="task-list__link task-list__link--05">
                <span class="task-list__title">挖宝藏</span>
                <span class="task-list__mask"></span>
            </a>
        </li>
        <li>
            <a href="http://vip.yy.com/vip/redirect?src=from_vip_signtab_6" target="_blank" class="task-list__link task-list__link--06">
       
                <span class="task-list__title">藏宝阁</span>
                <span class="task-list__mask"></span>
            </a>
        </li>
    </ul>
</div>