 <div class="footer-nav">
    <div class="footer-nav__inner">
        <a class="footer-nav__item footer-nav__item01" href="/vip/pay" target="_blank">
            <i></i>
            <dl>
                <dt>快捷入口</dt>
                <dd>YY靓号</dd>
                <dd>快捷充值</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item02" href="http://bbs.yy.com/forum-1317-1.html" target="_blank">
            <i></i>
            <dl>
                <dt>会员论坛</dt>
                <dd>加入会员大家庭</dd>
                <dd>了解更多会员信息</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item03" href="http://kf.yy.com/faq/list/78-13.html" target="_blank" data-bdtj="/index/kf-icon">
            <i></i>
            <dl>
                <dt>YY客服</dt>
                <dd>有问题找客服</dd>
                <dd>帮您排忧解难</dd>
            </dl>
        </a>
    </div>
</div>