<div class="box kfsearch-box">
    <div class="box__hd">
        <h3 class="box__hd__title">自助问答</h3>
        <div class="box__hd__act">
            <a class="box__hd__more" href="http://kf.yy.com/faq/list/78-13.html" target="_self">更多»</a>
        </div>
    </div>
    <div class="box__bd">
        <div class="kfsearch_input_wrap">
            <input type="text" id="kfsearch_input" placeholder="会员常见问题"/>
            <a href="javascript:;">搜索</a>
        </div>
        <ul class="kfsearch_mentions">
        </ul>
        <p>
            热门搜索：<a href="http://kf.yy.com/search/qa/7559.html#=%u5F00%u901A%u81F3%u5C0Avip" target="_blank" data-bdtj="/index/kf-open-zizun">开通至尊vip</a>&nbsp;
            <a href="http://kf.yy.com/faq/qa/865_74-13.html" target="_blank" data-bdtj="/index/kf-buy-code">购买靓号</a>
        </p>
    </div>
</div>