<div class="box">
    <div class="box__hd">
        <h3 class="box__hd__title">特权设置</h3>
        <div class="box__hd__act">
            <a class="box__hd__more" href="/p/profile/myprivilege.html" target="_self">更多»</a>
        </div>
    </div>
    <div class="box__bd">
        <ul class="setting-list">
            <li><a href="/p/profile/myprivilege.html#0" target="_blank">
                 <span class="setting-list__config"><i></i>设置</span>
                <span class="setting-list__tit"><i class="setting-list__icon1"></i>会员红名</span>
            </a></li>
            <li><a href="/p/profile/myprivilege.html#1" target="_blank">
                <span class="setting-list__config"><i></i>设置</span>
                <span class="setting-list__tit"><i class="setting-list__icon2"></i>会员皮肤</span>
            </a></li>
            <li><a href="/p/profile/myprivilege.html#2" target="_blank">
                <span class="setting-list__config"><i></i>设置</span>
                <span class="setting-list__tit"><i class="setting-list__icon3"></i>动态头像</span>
            </a></li>
            <li><a href="/p/profile/myprivilege.html#3" target="_blank">
                <span class="setting-list__config"><i></i>设置</span>
                <span class="setting-list__tit"><i class="setting-list__icon4"></i>会员炫铃</span>
            </a></li>
            <li><a href="/p/profile/myprivilege.html#4" target="_blank">
                <span class="setting-list__config"><i></i>设置</span>
                <span class="setting-list__tit"><i class="setting-list__icon5"></i>在线特权</span>
            </a></li>
        </ul>
    </div>
</div>