<div class="vip-footer">
    <div class="vip-footer__links">
        <a target="_blank" href="http://www.huanju.cn/s/introduction.html">关于欢聚</a>|<a target="_blank" href="http://hr.yy.com">欢聚招聘</a>|<a target="_blank" href="http://www.huanju.cn/s/contact.html">联系欢聚</a>|<a target="_blank" href="http://www.yy.com/go.html#10">客服频道：<strong>10</strong></a>|<a target="_blank" href="http://www.huanju.cn/s/links.html">友情链接</a>|<a target="_blank" href="http://kf.yy.com/">YY客服中心</a>
    </div>
    <div class="vip-footer__copy">
        <span>广州华多网络科技有限公司 版权所有 2005-2013 DuoWan.com [多玩游戏] 粤ICP备09075143号</span>|<span>备案编号：4401060102637</span>
    </div>
</div>


<script>
/*var _hmt = _hmt || [];
(function() {
  function loadJs(src){
  	var hm = document.createElement("script");
    hm.src = src;
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  }
  loadJs("//hm.baidu.com/hm.js?1ad6c9f9d366b2902c847ffe231db6fb");
  loadJs("http://www.duowan.com/duowan.js");
})();*/
</script>