
<div class="vip-header">
    <div class="vip-header__inner">
        <div class="vip-header__logo"  style="position:relative; zoom:1; margin-left:-10px;">
        	<a target="_self" href="/vip/redirect?src=viphead"></a>
        </div>
        <ul class="vip-header__menu">
            <li><a href="<%=global.topNav.index%>" target="_self">会员首页</a></li>
            <li><a href="<%=global.topNav.privilegepath%>" target="_self" alllink="/vip/introduction|/p/privilege/introduction.html">会员特权</a><img src="http://dl1.vip.yystatic.com/yyvippicture/aada293afc16a87258fe8c9f85d48750.png" class="header-new-icon"/></li>
  <!--           <li><a href="/vip/game" target="_self">游戏特权</a></li> -->
            <li><a href="/p/nicecode/index.html" target="_self" alllink="/p/nicecode">靓号商城</a></li>
            <li><a href="/p/activity/index.html" target="_self">活动中心</a></li>
            <li><a href="http://show.vip.yy.com" target="_blank"><i class="purple-icon"></i>YY紫钻</a></li>
            <li><a href="/vip/pay" target="_blank">支付中心</a></li>
            <li><a href="http://hd.vip.yy.com/1506d8/index" target="self">PK互动</a></li>
        </ul>
        
        <div class="vip-header__login" id="loginArea">

        </div>
       
    </div>
</div>
