<table class="v-make-list">
    <tbody>
        <tr>
            <td>
                <div class="login-btn v-make-container" data-flag="1">
                    <img src="/assets/img/welfare/check-in.png">
                    <div>
                        <h4 class="v-make-title">每日心情签到</h4>
                        <p class="v-make-desc">奖励：1 V豆<br/>每个会员每天可以签到1次，签到完成当日内可到福利社领取1V豆。</p>
                        <div class="button1">立即领取</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="login-btn v-make-container" data-flag="2">
                    <img src="/assets/img/welfare/week-salary.png">
                    <div>
                        <h4 class="v-make-title">每周领取</h4>
                        <p class="v-make-desc">奖励：1-4 V豆<br/>每个会员每周可领取1次，V1-V4用户每周领取2V豆，V5-V7用户每周领取4V豆。</p>
                        <div class="button1">立即领取</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="login-btn v-make-container" data-flag="3">
                    <img src="/assets/img/welfare/v-icon.png">
                    <div>
                        <h4 class="v-make-title">访问V图标</h4>
                        <p class="v-make-desc">奖励：随机 1-8 V豆<br/>所有YY用户每日点击YY主面板V图标访问官网，获得当日1次随机领取V豆资格，有机会获得1-8不等的V豆。</p>
                        <div class="button1">随机领取</div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="login-btn v-make-container" data-flag="4">
                    <img src="/assets/img/welfare/pay.png">
                    <div>
                        <h4 class="v-make-title">充值会员</h4>
                        <p class="v-make-desc" >奖励：10-30 V豆<br/>每月首次在本页面充值会员（开通/续费）可获得V豆奖励：一次性充值（开通/续费）1年以下，可获得10V豆；一次性充值（开通/续费）年费，可获得30V豆。</p>
                        <div class="button1">立即充值</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="login-btn v-make-container" data-flag="5">
                    <span class="icon icon-hot"></span>
                    <img src="/assets/img/welfare/pay-send.png">
                    <div>
                        <h4 class="v-make-title">赠送会员</h4>
                        <p class="v-make-desc">奖励：15-40 V豆<br/>每月首次在本页面为Y友充值会员，付款用户可以获得V豆奖励：一次性充值（开通/续费）1年以下，可获得15V豆；一次性充值（开通/续费）年费，可获得40V豆。每月最多可赠送5次。</p>
                        <div class="button1">立即赠送</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="v-make-container" pcode="147" gcode="0" id="dyyueButton">
                    <img src="/assets/img/welfare/unknow.png">
                    <div>
                        <h4 class="v-make-title">更多任务敬请期待</h4>
                        <p class="v-make-desc">更多精彩即将推出，订阅会员Y阅，第一时间获取最新资讯</p>
                        <div class="button1">订阅Y阅</div>
                    </div>
                </div>
                <div class="v-make-container" id="ydyButton" style="display: none;">
                    <img src="/assets/img/welfare/unknow.png">
                    <div>
                        <h4 class="v-make-title">更多任务敬请期待</h4>
                        <p class="v-make-desc">更多精彩即将推出，订阅会员Y阅，第一时间获取最新资讯</p>
                        <div class="button1 button-gray">已订阅</div>
                    </div>
                </div>
        </tr>
    </tbody>
</table>