<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="皇室,尊贵,个性,成长,等级,特权,功能,YY特权,游戏特权,YYvip,yy vip,YY会员,会员,YY,多玩,duowan">
    <meta name="description" content="YY会员为用户提供更加尊贵的服务，这里有动态表情、头像，还能让你在频道树排名靠前；还有尊贵的YY靓号、频道靓号，还有靓、豪图标，为您点亮，彰显身份；频道考核不达标，还有加油卡、复活卡，让你的频道无忧果考核！">
    <title>YY会员 - 我是会员 &quot;V&quot;力无限</title>
    <link href="/assets/css/base.css" rel="stylesheet">
    <link href="/assets/css/dressup.css" rel="stylesheet">
    <script src="http://dl2.vip.yystatic.com/assets/js/sea2.0.0.js"></script>

</head>
<body>
    <div class="wrap index-wrap">
        <!-- vip-header {-->
        
<div class="vip-header">
    <div class="vip-header__inner">
        <div class="vip-header__logo"  style="position:relative; zoom:1; margin-left:-10px;">
        	<a target="_self" href="/vip/redirect?src=viphead"></a>
        </div>
        <ul class="vip-header__menu">
            <li><a href="/p/index.html" target="_self">会员首页</a></li>
            <li><a href="/p/privilege/index.html" target="_self" alllink="/vip/introduction|/p/privilege/introduction.html">会员特权</a><img src="http://dl1.vip.yystatic.com/yyvippicture/aada293afc16a87258fe8c9f85d48750.png" class="header-new-icon"/></li>
  <!--           <li><a href="/vip/game" target="_self">游戏特权</a></li> -->
            <li><a href="/p/nicecode/index.html" target="_self" alllink="/p/nicecode">靓号商城</a></li>
            <li><a href="/p/activity/index.html" target="_self">活动中心</a></li>
            <li><a href="http://show.vip.yy.com" target="_blank"><i class="purple-icon"></i>YY紫钻</a></li>
            <li><a href="/vip/pay" target="_blank">支付中心</a></li>
            <li><a href="http://hd.vip.yy.com/1506d8/index" target="self">PK互动</a></li>
        </ul>
        
        <div class="vip-header__login" id="loginArea">

        </div>
       
    </div>
</div>

        <!--} vip-header -->
        
        <div class="main-body clearfix">
            <div class="sile-box">
                <div id="loginSider"></div>
                <div class="sile-btn-box">
                    <a href="javascript:;" class="my-dressup">我的装扮</a>
                    <a href="javascript:;" class="my-gifts">我的赠送</a>
                </div>
                <dl class="caption">
                    <dt>装扮素材说明</dt>
                    <dd>
                        <ol>
                            <li><i>1.</i> 所有装扮限会员使用；</li>
                            <li><i>2.</i> 会员官网装扮说明：免费素材无有效期限制，需用V卡兑换的素材，每兑换一次累计10天有效期（有效期内的素材均可设置使用）；</li>
                            <li><i>3.</i> YY客户端装扮说明：免费素材不限设置次数，需用V卡兑换的素材，每兑换一次即可长期有效，不限设置次数；</li>
                            <li><i>4.</i> 赠送给好友后请通知好友到会员装扮站进行装扮设置。</li>
                        </ol>
                    </dd>
                </dl>
            </div>
            <div class="content-box">
                <div class="slide-s1" id="slideS1" >
                    <div class="slide__content" >
                        
                            <ul data-role="content">   
                                <li class="slide__item"><a  target="_blank" class="slide__item-link" href="#"><img src="http://art.yypm.com/680x320/e8e669" alt="YY会员好友克隆"></a></li>
                                <li class="slide__item"><a target="_blank"  class="slide__item-link" href="#"><img src="http://art.yypm.com/680x320/74bc45" alt="YY会员好友克隆"></a></li>
                                <li class="slide__item"><img src="http://art.yypm.com/680x320/e869d8" alt="YY会员好友克隆"></a></li>
                                <li class="slide__item"><img src="http://art.yypm.com/680x320/e8e669" alt="YY会员好友克隆"></a></li>
                            </ul>
                            <ul class="ui-switchable-nav nav-box">
                                <li class="ui-switchable-trigger">1</li>
                                <li class="ui-switchable-trigger">2</li>
                                <li class="ui-switchable-trigger">3</li>
                                <li class="ui-switchable-trigger">4</li>
                            </ul>
                        
                    </div>
                </div>

                <div class="block" id="name-plate-box">
                    <div class="block-header">
                        <i>会员官网</i>/身份铭牌
                    </div>
                    
                </div>

                <div class="block" id="name-cards-box">
                    <div class="block-header">
                        <i>会员官网</i>/个性名片
                    </div>
                    
                </div>


            </div>
        </div>
        
        <!-- footer-nav {-->
         <div class="footer-nav">
    <div class="footer-nav__inner">
        <a class="footer-nav__item footer-nav__item01" href="/vip/pay" target="_blank">
            <i></i>
            <dl>
                <dt>快捷入口</dt>
                <dd>YY靓号</dd>
                <dd>快捷充值</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item02" href="http://bbs.yy.com/forum-1317-1.html" target="_blank">
            <i></i>
            <dl>
                <dt>会员论坛</dt>
                <dd>加入会员大家庭</dd>
                <dd>了解更多会员信息</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item03" href="http://kf.yy.com/faq/list/78-13.html" target="_blank" data-bdtj="/index/kf-icon">
            <i></i>
            <dl>
                <dt>YY客服</dt>
                <dd>有问题找客服</dd>
                <dd>帮您排忧解难</dd>
            </dl>
        </a>
    </div>
</div>
        <!--} footer-nav -->

        <!-- vip-footer {-->
        <div class="vip-footer">
    <div class="vip-footer__links">
        <a target="_blank" href="http://www.huanju.cn/s/introduction.html">关于欢聚</a>|<a target="_blank" href="http://hr.yy.com">欢聚招聘</a>|<a target="_blank" href="http://www.huanju.cn/s/contact.html">联系欢聚</a>|<a target="_blank" href="http://www.yy.com/go.html#10">客服频道：<strong>10</strong></a>|<a target="_blank" href="http://www.huanju.cn/s/links.html">友情链接</a>|<a target="_blank" href="http://kf.yy.com/">YY客服中心</a>
    </div>
    <div class="vip-footer__copy">
        <span>广州华多网络科技有限公司 版权所有 2005-2013 DuoWan.com [多玩游戏] 粤ICP备09075143号</span>|<span>备案编号：4401060102637</span>
    </div>
</div>


<script>
/*var _hmt = _hmt || [];
(function() {
  function loadJs(src){
  	var hm = document.createElement("script");
    hm.src = src;
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  }
  loadJs("//hm.baidu.com/hm.js?1ad6c9f9d366b2902c847ffe231db6fb");
  loadJs("http://www.duowan.com/duowan.js");
})();*/
</script>
        <!--} vip-footer -->

    </div>

    					<script type="text/html" id="name-plate">
					<div class="block-body" id="name-plate-bady">
                        <div class="block-fixed">
                            <div class="block-hidden">
                                <ul class="list-box" data-role="content">
                                {{each list as val key}}
                                    {{if key%14 == 0}}
                                    <li>
                                        <div class="card-box clearfix">
                                    {{/if}}
                                            <div class="card" price="{{list[key].price}}" type="{{list[key].dressUpType}}" pid="{{list[key].pid}}" free="{{list[key].is_free}}">
                                                {{if list[key].isNew }}
                                                <i class="new"></i>
                                                {{/if}}
                                                <img src="{{list[key].img_url}}" alt="{{list[key].name}}">
                                                {{if list[key].price!=0 }}
                                                <span class="price">{{list[key].price}}张V卡</span>
                                                {{/if}}
                                                <div class="card-menu">
                                                	<div class="card-bar">
                                                        <a class="gift" href="javascript:;" price="{{list[key].price}}" type="{{list[key].dressUpType}}" pid="{{list[key].pid}}"  free="{{list[key].is_free}}">赠送</a>
                                                        <a class="exchange" href="javascript:;"  price="{{list[key].price}}" type="{{list[key].dressUpType}}" pid="{{list[key].pid}}"  free="{{list[key].is_free}}">兑换</a>
                                                    </div>
                                                </div>
                                            </div>
                                    {{if (key+1)%14 == 0||(key+1)==list.length}}      
                                        </div>
                                    </li>
                                    {{/if}}
                                {{/each}}
                                </ul>
                            </div>
                            
                        </div>
                        <ul class="list-btn" id="nameplate-btn">
                            {{each list as val key}}
                            	{{if key%14 == 0}}<li data-role="trigger">{{/if}}
                            	{{if (key+1)%14 == 0||(key+1)==list.length}}</li>{{/if}}
                            {{/each}}
                        </ul>
                    </div>
                    </script>
    					<script type="text/html" id="name-cards">
					<div class="block-body" id="card-block">
                        <div class="block-fixed">
                            <div class="block-hidden">
                                <ul class="list-cards" data-role="content">
                                {{each list as val key}}
                                    {{if key%14 == 0}}
                                    <li>
                                        <div class="card-box clearfix">
                                    {{/if}}
                                            <div class="card-goods" card="">
                                                <a href="javascript:;"><img src="{{list[key].bg_url}}" alt="{{list[key].name}}"></a>
                                                <div class="card-menu">
                                                    <div class="card-bar">
                                                        <a class="gift" href="javascript:;" price="{{list[key].price}}" type="{{list[key].dressUpType}}" pid="{{list[key].pid}}"  free="{{list[key].is_free}}">赠送</a>
                                                        <a class="exchange" href="javascript:;" price="{{list[key].price}}" type="{{list[key].dressUpType}}" pid="{{list[key].pid}}"  free="{{list[key].is_free}}">兑换</a>
                                                    </div>
                                                </div>
                                            </div>
                                    {{if (key+1)%14 == 0||(key+1)==list.length}}      
                                        </div>
                                    </li>
                                    {{/if}}
                                {{/each}}
                                </ul>
                            </div>
                            
                        </div>
                        <ul class="list-btn" id="card-block-btn">
                            {{each list as val key}}
                            	{{if key%14 == 0}}<li data-role="trigger">{{/if}}
                            	{{if (key+1)%14 == 0||(key+1)==list.length}}</li>{{/if}}
                            {{/each}}
                        </ul>
                    </div>
                    </script>
    <script>
        seajs.config({
            map : [
                [ /^(.*\.(?:js))(.*)$/i, '$1?_=20140620']
            ]
        })
        seajs.use(['/assets/js/logic/dressup/index']);
    </script>
</body>
</html>
