<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="皇室,尊贵,个性,成长,等级,特权,功能,YY特权,游戏特权,YYvip,yy vip,YY会员,会员,YY,多玩,duowan">
    <meta name="description" content="YY会员为用户提供更加尊贵的服务，这里有动态表情、头像，还能让你在频道树排名靠前；还有尊贵的YY靓号、频道靓号，还有靓、豪图标，为您点亮，彰显身份；频道考核不达标，还有加油卡、复活卡，让你的频道无忧果考核！">
    <title>YY会员 - 我是会员 &quot;V&quot;力无限</title>
    <link href="/assets/css/base.css" rel="stylesheet">
    <link href="/assets/css/nicecode_activity.css" rel="stylesheet">
    <script src="http://dl2.vip.yystatic.com/assets/js/sea2.0.0.js"></script>
</head>
<body>
    <div class="wrap index-wrap">
        <!-- vip-header {-->
        
<div class="vip-header">
    <div class="vip-header__inner">
        <div class="vip-header__logo"  style="position:relative; zoom:1; margin-left:-10px;">
        	<a target="_self" href="/vip/redirect?src=viphead"></a>
        </div>
        <ul class="vip-header__menu">
            <li><a href="/" target="_self">会员首页</a></li>
            <li><a href="/introductionsummary.html" target="_self" alllink="/vip/introduction|/p/privilege/introduction.html">会员特权</a><img src="http://dl1.vip.yystatic.com/yyvippicture/aada293afc16a87258fe8c9f85d48750.png" class="header-new-icon"/></li>
  <!--           <li><a href="/vip/game" target="_self">游戏特权</a></li> -->
            <li><a href="/p/nicecode/index.html" target="_self" alllink="/p/nicecode">靓号商城</a></li>
            <li><a href="/p/activity/index.html" target="_self">活动中心</a></li>
            <li><a href="http://show.vip.yy.com" target="_blank"><i class="purple-icon"></i>YY紫钻</a></li>
            <li><a href="/vip/pay" target="_blank">支付中心</a></li>
            <li><a href="http://hd.vip.yy.com/1506d8/index" target="self">PK互动</a></li>
        </ul>
        
        <div class="vip-header__login" id="loginArea">

        </div>
       
    </div>
</div>

        <!--} vip-header -->
        <div class="nicecode-nav-wrap">
    <ul class="nicecode-nav">
   		<li><a target="_self" href="/p/nicecode/yy.html?type=21">租赁靓号</a></li>
        <li><a target="_self" href="/p/nicecode/yy.html?type=1">单号靓号</a></li>
        <li><a target="_self" href="/p/nicecode/yy.html?type=2">情侣靓号<i class="icon-hot"></i></a></li>
        <li><a target="_self" href="/p/nicecode/yy.html?type=3">频道靓号</a></li>
        <li><a target="_self" href="/p/nicecode/customyy.html">定制靓号<i class="icon-new"></i></a></li>
        <li><a target="_self" href="/p/nicecode/activity.html">靓号活动</a></li>
        <li><a target="_self" href="/p/nicecode/freecheck.html">频道成长道具</a></li>
        <li><a target="_self" href="/p/nicecode/mine.html">我的靓号</a></li>
    </ul>
</div>
        <div class="wp-main clearfix">
            <div class="col-side">
                <!-- 登录后 {-->
                <div id="loginSider"></div>
                <!-- } 登录后 -->
                <!-- 今日推荐 {-->
                <div class="top-num-box">
                    <div class="box__hd">
                        <h3 class="box__hd__title">今日推荐</h3>
                        <div class="box__hd__act">
                            <a class="box__hd__more" href="/p/nicecode/index.html" id="moreLink" target="_blank">更多»</a>
                        </div>                        
                    </div>
                </div>
                    <div class="box__bd" id="recommendNav">
       
                    		<a href="javascript:;" data-morelink="/p/nicecode/yy.html?type=2" class="activity" data-targetbox="niceCodeBox1">土豪靓号</a>                      
                            <a href="javascript:;" data-morelink="/p/nicecode/yy.html?type=3" data-targetbox="niceCodeBox2">频道靓号</a>
                            <a href="javascript:;" data-morelink="/p/nicecode/yy.html?type=2" data-targetbox="niceCodeBox3">情侣靓号</a>
                    </div>
                <div class="box top-num-box">   
                    <div class="box__bd">
                        <div class="top-num" id="niceCodeBox1"></div>
                        <div class="top-num" id="niceCodeBox2"></div>
                        <div class="top-num" id="niceCodeBox3"></div>
                    </div>
                    <div class="box__ft">
                        <a href="javascript:;" id="getNiceCode">换一批</a>
                    </div>
                </div>
                <!-- }今日推荐 -->
            </div>
            <div class="col-main">
                    <!-- 进行中的活动 {-->
	                <div class="box box--big activity-list-box" style="margin:0;">
	                    <div class="box__hd" id="rpl-activitynav">
					        <h3 class="box__hd__title"><strong>已结束</strong>的活动</h3>
	                        <div class="box__hd__act">
	                            <a class="box__hd__more" href="/p/nicecode/activity.html">进行中的活动»</a>
	                        </div>
	                    </div>
	                    <div class="box__bd">
	                        <ul class="activity-list clearfix" id="rpl-activity"></ul>
	                        <ul class="activity-list clearfix" id="rpl-finishactivity"></ul>
	                        <p class="activity-listloading" id="rpl-activityloading"></p>
	                    </div>
	                </div>
                <!--} 进行中的活动 -->
            </div>
        </div>

        <!-- footer-nav {-->
         <div class="footer-nav">
    <div class="footer-nav__inner">
        <a class="footer-nav__item footer-nav__item01" href="/vip/pay" target="_blank">
            <i></i>
            <dl>
                <dt>快捷入口</dt>
                <dd>YY靓号</dd>
                <dd>快捷充值</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item02" href="http://bbs.yy.com/forum-1317-1.html" target="_blank">
            <i></i>
            <dl>
                <dt>会员论坛</dt>
                <dd>加入会员大家庭</dd>
                <dd>了解更多会员信息</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item03" href="http://kf.yy.com/faq/list/78-13.html" target="_blank" data-bdtj="/index/kf-icon">
            <i></i>
            <dl>
                <dt>YY客服</dt>
                <dd>有问题找客服</dd>
                <dd>帮您排忧解难</dd>
            </dl>
        </a>
    </div>
</div>
        <!--} footer-nav -->

        <!-- vip-footer {-->
        <div class="vip-footer">
    <div class="vip-footer__links">
        <a target="_blank" href="http://www.huanju.cn/s/introduction.html">关于欢聚</a>|<a target="_blank" href="http://hr.yy.com">欢聚招聘</a>|<a target="_blank" href="http://www.huanju.cn/s/contact.html">联系欢聚</a>|<a target="_blank" href="http://www.yy.com/go.html#10">客服频道：<strong>10</strong></a>|<a target="_blank" href="http://www.huanju.cn/s/links.html">友情链接</a>|<a target="_blank" href="http://kf.yy.com/">YY客服中心</a>
    </div>
    <div class="vip-footer__copy">
        <span>广州华多网络科技有限公司 版权所有 2005-2013 DuoWan.com [多玩游戏] 粤ICP备09075143号</span>|<span>备案编号：4401060102637</span>
    </div>
</div>


<script>
/*var _hmt = _hmt || [];
(function() {
  function loadJs(src){
  	var hm = document.createElement("script");
    hm.src = src;
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  }
  loadJs("//hm.baidu.com/hm.js?1ad6c9f9d366b2902c847ffe231db6fb");
  loadJs("http://www.duowan.com/duowan.js");
})();*/
</script>
        <!--} vip-footer -->
    </div>
        <!-- 随机靓号推广 -->
    <script id="tplNiceCode1" type="text/html">
        {{each hotCodes as v i}}
        {{if i < 6}}
            <div class="top-num__item">
                <div class="top-num__t">
                    <a href="http://vip.yy.com/vip/vmall2/detailpay?productId={{v.id}}" target="_blank" class="top-num__buy">抢购</a>
                    <span  class="top-num__num"><i class="icon_imcode_{{v.mt}}"></i> {{v.key}}</span>
                </div>
                <div class="top-num__b">
                    <span class="top-num__price">&yen;{{v.price}} 元</span>
                    <span>送{{v.membTimePrize}}天YY会员</span>
                </div>
            </div>
        {{/if}}          
        {{/each}}
    </script>
    <script id="tplNiceCode2" type="text/html">
        {{each hotCodes as v i}}
        {{if i < 6}}
            <div class="top-num__item">
                <div class="top-num__t">
                    <a href="http://vip.yy.com/vip/vmall2/detailpay?productId={{v.id}}" target="_blank" class="top-num__buy">抢购</a>
                    <span  class="top-num__num">{{if v.mt}}<i class="icon_nicecode"></i>{{else}}<i class="icon_nicecode icon_blank"></i>{{/if}} {{v.key}}</span>
                </div>
                <div class="top-num__b">
                    <span class="top-num__price">&yen;{{v.price}} 元</span>
                    <span>送3张加油金卡</span>
                </div>
            </div>
        {{/if}}          
        {{/each}}
    </script>
    <script id="tplNiceCode3" type="text/html">
        {{each hotCodes as v i}}
        {{if i < 6}}
            <div class="top-num__item">
                <div class="top-num__t">
                    <a href="http://vip.yy.com/vip/vmall2/detailpay?productId={{v.id}}" target="_blank" class="top-num__buy">抢购</a>
                    <span  class="top-num__num"><i class="icon_nicecode icon_lover"></i>{{v.key}}</span>
                </div>
                <div class="top-num__b">
                    <span class="top-num__price">&yen;{{v.price}} 元</span>
                    <span>分别送{{v.membTimePrize}}天YY会员</span>
                </div>
            </div>
        {{/if}}          
        {{/each}}
    </script>
	<script type="text/html" id="tpl-activity">
		{{each list}}
	        <li>
	            <a href="{{$value.url}}" class="activity-list__pic" target="_blank">
	                {{if $value.hot}}<span class="activity-list__hot">热门</span>{{/if}}
	                <img src="{{$value.imgUrl}}" alt="">
	            </a>
	            <a href="{{$value.url}}" class="activity-list__link" target="_blank">{{$value.name}}</a>
	            <span class="activity-list__txt">时间 : {{$dataFormat($value.startDate)}} - {{$dataFormat($value.endDate)}}</span>
	            <span class="activity-list__txt">说明 : {{$value.desc}}</span>
	        </li>
	  	{{/each}}
	</script>
    <script>
        window.activityType = 2;
	    seajs.config({
	        map : [
	            [ /^(.*\.(?:js))(.*)$/i, '$1?_=20140620']
	        ]
	    })
	    seajs.use(["/assets/js/logic/nicecode/activity"]);
    </script>
</body>
</html>
