<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="皇室,尊贵,个性,成长,等级,特权,功能,YY特权,游戏特权,YYvip,yy vip,YY会员,会员,YY,多玩,duowan">
    <meta name="description" content="YY会员为用户提供更加尊贵的服务，这里有动态表情、头像，还能让你在频道树排名靠前；还有尊贵的YY靓号、频道靓号，还有靓、豪图标，为您点亮，彰显身份；频道考核不达标，还有加油卡、复活卡，让你的频道无忧果考核！">
    <title>YY会员 - 我是会员 &quot;V&quot;力无限</title>
    <link href="/assets/css/base.css" rel="stylesheet">
    <link href="/assets/css/nicecode_mine.css" rel="stylesheet">
    <script src="http://dl2.vip.yystatic.com/assets/js/sea2.0.0.js"></script>
</head>
<body>
    <div class="wrap index-wrap">
    
        <!-- vip-header {-->
        
<div class="vip-header">
    <div class="vip-header__inner">
        <div class="vip-header__logo"  style="position:relative; zoom:1; margin-left:-10px;">
        	<a target="_self" href="/vip/redirect?src=viphead"></a>
        </div>
        <ul class="vip-header__menu">
            <li><a href="/" target="_self">会员首页</a></li>
            <li><a href="/introductionsummary.html" target="_self" alllink="/vip/introduction|/p/privilege/introduction.html">会员特权</a><img src="http://dl1.vip.yystatic.com/yyvippicture/aada293afc16a87258fe8c9f85d48750.png" class="header-new-icon"/></li>
  <!--           <li><a href="/vip/game" target="_self">游戏特权</a></li> -->
            <li><a href="/p/nicecode/index.html" target="_self" alllink="/p/nicecode">靓号商城</a></li>
            <li><a href="/p/activity/index.html" target="_self">活动中心</a></li>
            <li><a href="http://show.vip.yy.com" target="_blank"><i class="purple-icon"></i>YY紫钻</a></li>
            <li><a href="/vip/pay" target="_blank">支付中心</a></li>
            <li><a href="http://hd.vip.yy.com/1506d8/index" target="self">PK互动</a></li>
        </ul>
        
        <div class="vip-header__login" id="loginArea">

        </div>
       
    </div>
</div>

        <!--} vip-header -->
        <div class="nicecode-nav-wrap">
    <ul class="nicecode-nav">
   		<li><a target="_self" href="/p/nicecode/yy.html?type=21">租赁靓号</a></li>
        <li><a target="_self" href="/p/nicecode/yy.html?type=1">单号靓号</a></li>
        <li><a target="_self" href="/p/nicecode/yy.html?type=2">情侣靓号<i class="icon-hot"></i></a></li>
        <li><a target="_self" href="/p/nicecode/yy.html?type=3">频道靓号</a></li>
        <li><a target="_self" href="/p/nicecode/customyy.html">定制靓号<i class="icon-new"></i></a></li>
        <li><a target="_self" href="/p/nicecode/activity.html">靓号活动</a></li>
        <li><a target="_self" href="/p/nicecode/freecheck.html">频道成长道具</a></li>
        <li><a target="_self" href="/p/nicecode/mine.html">我的靓号</a></li>
    </ul>
</div>
        <div class="blank20"></div>
        <div class="wp-col2-main clearfix">
            <div class="col-main">
            <ul class="custom-nav" id="customNav">
                <li><a href="javascript:;" data-type="1">我的购买</a></li>
                <li><a href="javascript:;" data-type="2">历史订单</a></li>
                <li><a href="javascript:;" data-type="3">靓号现金卷</a></li>
            </ul>

            <div class="custom-search-bar clearfix" id="orderlist">
                
                <div class="custom-search-rule custom-rule" id="table-1">
                    <table class="table-s3 table-s3--noborder" id="buy-table">
							<thead>
								<tr>
									<th style="width: 145px;">时间</th>
									<th style="width: 290px;">商品</th>
									<th style="width: 200px;">订单编号</th>
									<th style="width: 110px;">价格</th>
									<th style="width: 150px;">备注</th>
									<th style="width: 100px;">状态</th>
								</tr>
							</thead>
							<tbody id="orderbuy_List">
							
							</tbody>
					 </table>
                </div>
                
                <div class="custom-search-rule custom-rule" id="table-2">
                    <table class="table-s3 table-s3--noborder" id="order-table">
							<thead>
								<tr>
									<th style="width: 145px;">时间</th>
									<th style="width: 290px;">商品</th>
									<th style="width: 200px;">订单编号</th>
									<th style="width: 110px;">价格</th>
									<th style="width: 150px;">备注</th>
									<th style="width: 100px;">状态</th>
								</tr>
							</thead>
							<tbody id="history_List">
							 
							</tbody>
					 </table>
                </div>
                
                <div class="custom-search-rule custom-rule" id="table-3">
                    <table class="table-s3 table-s3--noborder" id="nc-table">
							<thead>
								<tr>
									<th style="width: 145px;">时间</th>
									<th style="width: 290px;">名称</th>
									<th>备注</th>
									<th style="width: 110px;">金额</th>
									<th style="width: 100px;">状态</th>
								</tr>
							</thead>
							<tbody id="couponList_List">
							 
							</tbody>
					 </table>
                </div>
              
            </div>
            <div class="blank20"></div>
            <ul class="nicecode-list" id="imListBox"><li class="loading"></li></ul>
                <div id="pager" class="pagination"></div>
            </div>
            
        </div>

        <!-- footer-nav {-->
         <div class="footer-nav">
    <div class="footer-nav__inner">
        <a class="footer-nav__item footer-nav__item01" href="/vip/pay" target="_blank">
            <i></i>
            <dl>
                <dt>快捷入口</dt>
                <dd>YY靓号</dd>
                <dd>快捷充值</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item02" href="http://bbs.yy.com/forum-1317-1.html" target="_blank">
            <i></i>
            <dl>
                <dt>会员论坛</dt>
                <dd>加入会员大家庭</dd>
                <dd>了解更多会员信息</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item03" href="http://kf.yy.com/faq/list/78-13.html" target="_blank" data-bdtj="/index/kf-icon">
            <i></i>
            <dl>
                <dt>YY客服</dt>
                <dd>有问题找客服</dd>
                <dd>帮您排忧解难</dd>
            </dl>
        </a>
    </div>
</div>
        <!--} footer-nav -->

        <!-- vip-footer {-->
        <div class="vip-footer">
    <div class="vip-footer__links">
        <a target="_blank" href="http://www.huanju.cn/s/introduction.html">关于欢聚</a>|<a target="_blank" href="http://hr.yy.com">欢聚招聘</a>|<a target="_blank" href="http://www.huanju.cn/s/contact.html">联系欢聚</a>|<a target="_blank" href="http://www.yy.com/go.html#10">客服频道：<strong>10</strong></a>|<a target="_blank" href="http://www.huanju.cn/s/links.html">友情链接</a>|<a target="_blank" href="http://kf.yy.com/">YY客服中心</a>
    </div>
    <div class="vip-footer__copy">
        <span>广州华多网络科技有限公司 版权所有 2005-2013 DuoWan.com [多玩游戏] 粤ICP备09075143号</span>|<span>备案编号：4401060102637</span>
    </div>
</div>


<script>
/*var _hmt = _hmt || [];
(function() {
  function loadJs(src){
  	var hm = document.createElement("script");
    hm.src = src;
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  }
  loadJs("//hm.baidu.com/hm.js?1ad6c9f9d366b2902c847ffe231db6fb");
  loadJs("http://www.duowan.com/duowan.js");
})();*/
</script>
        <!--} vip-footer -->
    </div>
    <script id="tpl_bindchannel" type="text/html">
		<div id="bindchannel" style="text-align:left; width:350px; font-size:14px; line-height:20px;">
			<p class="j-shortid" style="margin-bottom:10px;">
				<em style="margin-right:3px;">&nbsp;</em>频道靓号：无
			</p>
			<p class="j-channel" style="margin-bottom:10px;">
			<label>
				<span><em style="margin-right:3px; color:#c80000; float:left;">*</em>频道号码：</span>
				<input class="j-channelinput" type="text" placeholder="请输入频道号" />
			</label>
			</p>
			<p class="dn j-channeltips" style="margin-bottom:10px; color:#c80000; text-indent:8px;"></p>
			<p class="dn j-channeltypesuc" style="margin-bottom:10px;">
			<em style="margin-right:3px; color:#c80000; float:left;">*</em>绑定提示：请确认频道信息正确后点击"确认"进行绑定
			</p>
			<p style="font-size:12px; padding-left:8px;">说明：绑定频道帐号前，请先完成频道类型认证。完成绑定后，<em style="color:#c80000;">90天免考核从第2天生效。</em></p>
		</div>
	</script>
    <script id="tpl_bindyy" type="text/html">
		<div id="bindyy" style="text-align:left; width:350px; font-size:14px; line-height:20px;">
			<p class="j-shortid" style="margin-bottom:10px;">
				<em style="margin-right:3px;">&nbsp;</em>YY靓号：无
			</p>
			<p class="j-channel" style="margin-bottom:10px;">
			<label>
				<span><em style="margin-right:3px; color:#c80000; float:left;">*</em>YY号码：{{imid}}</span>
			</label>
			</p>
			<p class="dn j-channeltips" style="margin-bottom:10px; color:#c80000; text-indent:8px;"></p>
			<p class="dn" style="margin-bottom:10px;">
			<em style="margin-right:3px; color:#c80000; float:left;">*</em>绑定提示：请确认YY信息正确后点击"确认"进行绑定
			</p>
			<p style="font-size:12px; padding-left:8px;">说明：请在确认绑定YY靓号前务必【<a href="https://udb.duowan.com/security/index.do" target="_blank">设置密保</a>】，完善账号个人信息，并妥善保管账号信息，以免因账号信息丢失造成不必要的损失。</p>
		</div>
	</script>
	
	<script id="tpl_orderbuy_List" type="text/html">
	    {{each datas as v i}}
	         <tr class="hbg {{if i%2!=0}}fbg{{/if}}">
		    	<td>{{$dateFormat(v.createTime)}}</td> 
		    	<td>
		    		{{if v.products[0].type == 1  || v.products[0].type == 12}}
		    			<span class="order-icons channelcodei"><em>{{v.products[0].key}}</em>(送3张加油金卡)</span>
		    		{{else if v.products[0].type == 2 || v.products[0].type == 13}}
		    			<span class="order-icons {{if v.products[0].price>=5000 }} grandcodei {{else}}yycodei{{/if}}"><em>{{v.products[0].key}}</em>(送{{v.products[0].membTimePrize}}天月费会员)</span>
		    		{{else if v.products[0].type == 8}}
		    			<span class="order-icons yycodei"><em>{{v.products[0].m_key}}</em>+<em>{{v.products[0].s_key}}</em>(分别送{{v.products[0].membTimePrize}}天月费会员)</span>
					{{else if v.products[0].type == 21}}
						<span class="order-icons {{if v.products[0].price>=5000 }} grandcodei {{else}}yycodei{{/if}}"><em>{{v.products[0].key}}</em>(租赁靓号)</span>
		    		{{else}}
		    			<span class="order-icons fcheckcodei">{{v.name}}</span>
		    		{{/if}}
		    	</td>
		    	<td>{{v.id}}</td>
		    	<td><em class="num__price">¥{{$moneyFormat(v.price,2)}}</em></td>
		    	<td>
		    		
		    		{{if v.products[0].type == 1  || v.products[0].type == 12}}
		    			考核标准：<em>{{v.products[0].monthLimit}}分</em><br/>每日考核上限：<em>{{v.products[0].dayLimit}}分</em>
		    		{{else if v.products[0].type == 2 || v.products[0].type == 13}}
		    			会员过期30天后<br/>YY靓号将被回收
		    		{{else if v.products[0].type == 8}}
		    			会员过期{{v.products[0].recycleDay}}天后<br/>情侣靓号将被回收
		    	    {{else if v.products[0].type == 6}}
		    	    	考核标准：<em>{{v.products[0].monthLimit}}分</em>
					{{else if v.products[0].type == 21}}
						{{v.remark}}
		    		{{else}}
		    		
		    		{{/if}}
		    		
		    	</td>
		    	<td>
		    		{{if v.products[0].type == 6}}
		    			已使用						
					{{else}}
		    			{{if v.status == 2}}
		    				使用中
							{{if v.products[0].type == 21}}
								<br/>
								<a class="top-num__buy nobind j-bind" href="/vip/vmall2/imidrent?productId={{v.products[0].id}}" target="_blank">续费</a>
							{{/if}}
		    			{{else if v.status == 1}}
		    				<a class="top-num__buy nobind j-bind" data-set-id="{{v.id}}"
											data-set-type="{{v.products[0].type}}"
											href="javascript:;">未绑定</a>
							{{if v.products[0].type == 21}}
								<br/>
								<a class="top-num__buy nobind j-bind" href="/vip/vmall2/imidrent?productId={{v.products[0].id}}" target="_blank">续费</a>
							{{/if}}
						{{else if v.status > 2}}
							过期已回收
		    			{{/if}}
		    		{{/if}}
		    	</td>
			 </tr>
	    {{/each}}
	</script>
	
	<script id="tpl_history_List" type="text/html">
	   {{each datas as v i}}
	         <tr class="hbg {{if i%2!=0}}fbg{{/if}}">
		    	<td>{{$dateFormat(v.createTime)}}</td> 
		    	<td>
		    		{{if v.products[0].type == 1  || v.products[0].type == 12}}
		    			<span class="order-icons channelcodei"><em>{{v.products[0].key}}</em>(送3张加油金卡)</span>
		    		{{else if v.products[0].type == 2 || v.products[0].type == 13}}
		    			<span class="order-icons {{if v.products[0].price>=5000 }} grandcodei {{else}}yycodei{{/if}}"><em>{{v.products[0].key}}</em>(送{{v.products[0].membTimePrize}}天月费会员)</span>
		    		{{else if v.products[0].type == 8}}
		    			<span class="order-icons yycodei"><em>{{v.products[0].m_key}}</em>+<em>{{v.products[0].s_key}}</em>(分别送{{v.products[0].membTimePrize}}天月费会员)</span>
					{{else if v.products[0].type == 21}}
						<span class="order-icons {{if v.price>=5000 }} grandcodei {{else}}yycodei{{/if}}"><em>{{v.products[0].key}}</em>(租赁靓号)</span>
		    		{{else}}
		    			<span class="order-icons fcheckcodei">{{v.name}}</span>
		    		{{/if}}
		    	</td>
		    	<td>{{v.id}}</td>
		    	<td><em class="num__price">¥{{$moneyFormat(v.price,2)}}</em></td>
		    	<td>
		    		
		    		{{if v.products[0].type == 1  || v.products[0].type == 12}}
		    			考核标准：<em>{{v.products[0].monthLimit}}分</em><br/>每日考核上限：<em>{{v.products[0].dayLimit}}分</em>
		    		{{else if v.products[0].type == 2 || v.products[0].type == 13}}
		    			会员过期30天后<br/>YY靓号将被回收
		    		{{else if v.products[0].type == 8}}
		    			会员过期{{v.products[0].recycleDay}}天后<br/>情侣靓号将被回收
		    	    {{else if v.products[0].type == 6}}
		    	    	考核标准：<em>{{v.products[0].monthLimit}}分</em>
					{{else if v.products[0].type == 21}}
						{{v.remark}}
		    		{{else}}
		    		
		    		{{/if}}
		    		
		    	</td>
		    	<td>
		    		{{if v.status > 0}}
		    			已支付
		    		{{else}}
		    			{{if v.payType == 26}}
		    				Y币未支付<br/>无法重新支付
		    			{{else}}
								<a class="top-num__buy  nopay repay-order" data-set-id="{{v.id}}"
											data-set-type="{{v.products[0].type}}" href="javascript:" data-id="{{v.id}}" data-payType="{{v.payType}}" >未支付</a>
		    			{{/if}}
		    		{{/if}}
		    	</td>
			 </tr>
	    {{/each}}
	</script>
	
	<script id="tpl_couponList_List" type="text/html">
	    {{each datas as v i}}
	         <tr class="hbg {{if i%2!=0}}fbg{{/if}}">
		    	<td>{{$dateFormat(v.beginTime)}}</td> 
		    	<td>{{v.goodsName}}</td>
		    	<td>可用于购买{{$getGoodsName(v.goodsStr)}}</td>
		    	<td><em>{{v.value}}</em></td>
		    	<td>
					{{if v.status == 3}}
		    			<span class="nopay">已过期</span>
		    		{{else if v.status == 0}}
		    			<a class="top-num__buy nobind" href="http://vip.yy.com/p/nicecode/yy.html?type=1">未使用</a>	
		    		{{else}}
		    			已使用
		    		{{/if}}
		    	</td>
			 </tr>
	    {{/each}}
	</script>

    <script>
        seajs.config({
            //alias: {
            //    "jQuery": "../lib/jquery-1.11.0.js"
            //}
            map : [
                [ /^(.*\.(?:js))(.*)$/i, '$1?_=20141223']
            ]
        })
        seajs.use(['/assets/js/logic/nicecode/mine']);

     </script>

</body>
</html>
