<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="皇室,尊贵,个性,成长,等级,特权,功能,YY特权,游戏特权,YYvip,yy vip,YY会员,会员,YY,多玩,duowan">
    <meta name="description" content="YY会员为用户提供更加尊贵的服务，这里有动态表情、头像，还能让你在频道树排名靠前；还有尊贵的YY靓号、频道靓号，还有靓、豪图标，为您点亮，彰显身份；频道考核不达标，还有加油卡、复活卡，让你的频道无忧果考核！">
    <title>YY会员 - 我是会员 &quot;V&quot;力无限</title>
    <link href="/assets/css/base.css" rel="stylesheet">
    <link href="/assets/css/nicecode_yy.css?20150413" rel="stylesheet">
    <script src="http://dl2.vip.yystatic.com/assets/js/sea2.0.0.js"></script>
</head>
<body>
    <div class="wrap index-wrap">
    
        <!-- vip-header {-->
        
<div class="vip-header">
    <div class="vip-header__inner">
        <div class="vip-header__logo"  style="position:relative; zoom:1; margin-left:-10px;">
        	<a target="_self" href="/vip/redirect?src=viphead"></a>
        </div>
        <ul class="vip-header__menu">
            <li><a href="/" target="_self">会员首页</a></li>
            <li><a href="/introductionsummary.html" target="_self" alllink="/vip/introduction|/p/privilege/introduction.html">会员特权</a><img src="http://dl1.vip.yystatic.com/yyvippicture/aada293afc16a87258fe8c9f85d48750.png" class="header-new-icon"/></li>
  <!--           <li><a href="/vip/game" target="_self">游戏特权</a></li> -->
            <li><a href="/p/nicecode/index.html" target="_self" alllink="/p/nicecode">靓号商城</a></li>
            <li><a href="/p/activity/index.html" target="_self">活动中心</a></li>
            <li><a href="http://show.vip.yy.com" target="_blank"><i class="purple-icon"></i>YY紫钻</a></li>
            <li><a href="/vip/pay" target="_blank">支付中心</a></li>
            <li><a href="http://hd.vip.yy.com/1506d8/index" target="self">PK互动</a></li>
        </ul>
        
        <div class="vip-header__login" id="loginArea">

        </div>
       
    </div>
</div>

        <!--} vip-header -->
        <div class="nicecode-nav-wrap">
    <ul class="nicecode-nav">
   		<li><a target="_self" href="/p/nicecode/yy.html?type=21">租赁靓号</a></li>
        <li><a target="_self" href="/p/nicecode/yy.html?type=1">单号靓号</a></li>
        <li><a target="_self" href="/p/nicecode/yy.html?type=2">情侣靓号<i class="icon-hot"></i></a></li>
        <li><a target="_self" href="/p/nicecode/yy.html?type=3">频道靓号</a></li>
        <li><a target="_self" href="/p/nicecode/customyy.html">定制靓号<i class="icon-new"></i></a></li>
        <li><a target="_self" href="/p/nicecode/activity.html">靓号活动</a></li>
        <li><a target="_self" href="/p/nicecode/freecheck.html">频道成长道具</a></li>
        <li><a target="_self" href="/p/nicecode/mine.html">我的靓号</a></li>
    </ul>
</div>
        <div class="yy-main text-filter-box">
            <h3 id="textFilter"><span id="filterTitle"></span>&nbsp;&gt;&nbsp;<input type="text" placeholder="在当前条件下搜索靓号，例如：888"/><a href="javascript:;" class="prizes-list__btn">搜索</a></h3>
            <a href="javascript:;" class="buy-rules" id="buyRules">靓号购买说明»</a>
        </div>
        <!-- 搜索条件 {-->
        <dl class="yy-main filter-list" id="coderFilter"></dl>
         <!-- }搜索条件 -->


        <div class="wp-col2-main clearfix">
            <div class="col-main">
            <ul class="nicecode-list" id="imListBox"><li class="loading"></li></ul>
                <div id="pager" class="pagination"></div>
            </div>
            <div class="col-side">
                 <div class="box top-num-box">
                    <div class="box__hd">
                        <h3 class="box__hd__title">土豪靓号</h3>
                        <div class="box__hd__act">
                            <a class="box__hd__more" href="/p/nicecode/index.html" target="_blank">更多»</a>
                        </div>                        
                    </div>
                    <div class="box__bd">
                        <div class="top-num" id="niceCodeBox"><p class="loading"></p></div>
                    </div>
                    <div class="box__ft">
                        <a href="javascript:;" id="getNiceCode">换一批</a>
                    </div>
                </div>
                <div id="mallTrendAxd"></div>
                <div class="box top-num-box">
                    <div class="box__hd">
                        <h3 class="box__hd__title">今日推荐</h3>
                        <div class="box__hd__act">
                            <a class="box__hd__more" href="/p/nicecode/index.html" target="_blank">更多»</a>
                        </div>                        
                    </div>
                    <div class="box__bd">
                        <div class="top-num" id="niceCodeLowBox"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer-nav {-->
         <div class="footer-nav">
    <div class="footer-nav__inner">
        <a class="footer-nav__item footer-nav__item01" href="/vip/pay" target="_blank">
            <i></i>
            <dl>
                <dt>快捷入口</dt>
                <dd>YY靓号</dd>
                <dd>快捷充值</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item02" href="http://bbs.yy.com/forum-1317-1.html" target="_blank">
            <i></i>
            <dl>
                <dt>会员论坛</dt>
                <dd>加入会员大家庭</dd>
                <dd>了解更多会员信息</dd>
            </dl>
        </a>
        <a class="footer-nav__item footer-nav__item03" href="http://kf.yy.com/faq/list/78-13.html" target="_blank" data-bdtj="/index/kf-icon">
            <i></i>
            <dl>
                <dt>YY客服</dt>
                <dd>有问题找客服</dd>
                <dd>帮您排忧解难</dd>
            </dl>
        </a>
    </div>
</div>
        <!--} footer-nav -->

        <!-- vip-footer {-->
        <div class="vip-footer">
    <div class="vip-footer__links">
        <a target="_blank" href="http://www.huanju.cn/s/introduction.html">关于欢聚</a>|<a target="_blank" href="http://hr.yy.com">欢聚招聘</a>|<a target="_blank" href="http://www.huanju.cn/s/contact.html">联系欢聚</a>|<a target="_blank" href="http://www.yy.com/go.html#10">客服频道：<strong>10</strong></a>|<a target="_blank" href="http://www.huanju.cn/s/links.html">友情链接</a>|<a target="_blank" href="http://kf.yy.com/">YY客服中心</a>
    </div>
    <div class="vip-footer__copy">
        <span>广州华多网络科技有限公司 版权所有 2005-2013 DuoWan.com [多玩游戏] 粤ICP备09075143号</span>|<span>备案编号：4401060102637</span>
    </div>
</div>


<script>
/*var _hmt = _hmt || [];
(function() {
  function loadJs(src){
  	var hm = document.createElement("script");
    hm.src = src;
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  }
  loadJs("//hm.baidu.com/hm.js?1ad6c9f9d366b2902c847ffe231db6fb");
  loadJs("http://www.duowan.com/duowan.js");
})();*/
</script>
        <!--} vip-footer -->
    </div>

<!-- 搜索条件-->
<script id="tpl_coldfilter" type="text/html">
    <dt>靓号位数</dt>
    <dd>
        <p> 
            {{each widthFilterList as v1 j }}
                <a data-code="{{v1.id}}" class="j-select-size{{if j==0}} active{{/if}}" href="javascript:;" >{{v1.name}}</a>
            {{/each}}
        </p>
    </dd>
   {{each filterList as v i}}
        <dt>{{v.title}}</dt>
        <dd>
            <p> 
                <a data-code="0" class="j-select-code active" href="javascript:;">全部</a>
                {{each v.items as v1 j }}
                    <a data-code="{{v1.code}}" class="j-select-code" href="javascript:;">{{v1.name}}</a>
                {{/each}}
            </p>
        </dd>
    {{/each}}
    {{if pagetype != 21}}
    <dt>价格</dt>
    <dd>
        <p> 
            {{each priceRangeFilterList as v1 j }}
                <a data-code="{{v1.id}}" class="j-select-prize{{if j==0}} active{{/if}}" href="javascript:;">{{v1.name}}</a>
            {{/each}}
        </p>
    </dd>
    {{/if}}
</script>

    <!-- ＹＹ靓号 -->
<script id="tpl_ImList" type="text/html">
    {{each list as v i}}
        <li>
            <a href="http://vip.yy.com/vip/vmall2/detailpay?productId={{v.id}}" target="_blank">  
            <h3 class="item-head"><i class="icon_imcode_{{v.mt}}"></i> {{#v.highlightKey}}</h3>
            <p class="item-desc">送{{v.membTimePrize}}天YY会员 </p>
            <p class="item-desc-money">¥{{v.price}}元</p>
            </a>
        </li>   
    {{/each}}
    {{if list.length == 0}}<p class="nodata-desc">亲，该规则靓号暂时缺货哦，试试别的吧！</p>{{/if}}
</script>

    <!-- 频道靓号 -->
<script id="tpl_ChList" type="text/html">
    {{each list as v i}}
        <li>
            <a href="http://vip.yy.com/vip/vmall2/detailpay?productId={{v.id}}" target="_blank"> 
            <h3 class="item-head"><i class="icon_nicecode"></i> {{#v.highlightKey}}</h3>
            <p class="item-desc">送3张加油金卡</p>
            <p class="item-desc-money">¥{{v.price}}元</p>
            </a>
        </li> 
  
    {{/each}}
     {{if list.length == 0}}<p class="nodata-desc">亲，该规则靓号暂时缺货哦，试试别的吧！</p>{{/if}}
</script>

    <!-- 情侣靓号 -->
<script id="tpl_LoversList" type="text/html">
    {{each list as v i}}
         <li>
         <a href="http://vip.yy.com/vip/vmall2/detailpay?productId={{v.id}}" target="_blank">
         <h3 class="item-head item-love"><i class="icon_nicecode icon_lover"></i>{{#v.m_highlightKey}} <br /> {{#v.s_highlightKey}}</h3>  
         <p class="item-desc">分别送{{v.membTimePrize}}天YY会员 </p>
         <p class="item-desc-money">¥{{v.price}}元</p>
         </a></li>         
    {{/each}}
     {{if list.length == 0}}<p class="nodata-desc">亲，该规则靓号暂时缺货哦，试试别的吧！</p>{{/if}}
</script>

    <!-- 租靓号 -->
<script id="tpl_ImListZL" type="text/html">
    {{each list as v i}}
        <li>
            <a href="http://vip.yy.com/vip/vmall2/imidrent?productId={{v.id}}" target="_blank">  
            <h3 class="item-head"><i class="icon_imcode_0"></i> {{#v.highlightKey}}</h3>
            <p class="item-desc">单月租赁价格低至</p>
            <p class="item-desc-money">¥{{v.price}}元</p>
            </a>
        </li>   
    {{/each}}
    {{if list.length == 0}}<p class="nodata-desc">亲，该规则靓号暂时缺货哦，试试别的吧！</p>{{/if}}
</script>



    <!-- 随机靓号推广 -->
<script id="tplNiceCode" type="text/html">
    {{each hotCodes as v i}}
        <div class="top-num__item">
            <div class="top-num__t">
                <a href="http://vip.yy.com/vip/vmall2/detailpay?productId={{v.id}}" target="_blank" class="top-num__buy">抢购</a>
                <span  class="top-num__num"><i></i>{{v.key}}</span>
            </div>
            <div class="top-num__b">
                <span class="top-num__price">&yen;{{v.price}} 元</span>
                <span>送{{v.membTimePrize}}天YY会员</span>
            </div>
        </div>          
    {{/each}}
</script>

    <script>
        seajs.config({
            //alias: {
            //    "jQuery": "../lib/jquery-1.11.0.js"
            //}
            map : [
                [ /^(.*\.(?:js))(.*)$/i, '$1?_=20140620']
            ]
        })
        seajs.use(['/assets/js/logic/nicecode/yy']);

     </script>

</body>
</html>
