<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="<%= global.keywords %>">
    <meta name="description" content="<%= global.description %>">
    <title><%= global.site_name %></title>
    <link href="/assets/css/base.css" rel="stylesheet">
    <link href="/assets/css/center.css" rel="stylesheet">
    <script src="http://dl2.vip.yystatic.com/assets/js/sea2.0.0.js"></script>
</head>
<body>
    <div class="wrap index-wrap">
        <!-- vip-header {-->
        <% include ../../partial/vip-header %>
        <!--} vip-header -->

        <div class="wp-main clearfix ">
            <div class="col-side">

                <div class="side-menu">
                    <ul>
                        <li><a href="index.html"><i class="side-menu__icon side-menu__icon--center"></i>个人中心</a></li>
                        <li><a href="mygift.html"><i class="side-menu__icon side-menu__icon--gift"></i>我的礼包</a></li>
                        <li><a href="myprivilege.html"><i class="side-menu__icon side-menu__icon--privilege"></i>特权设置</a></li>
                        <li class="current"><a href="#"><i class="side-menu__icon side-menu__icon--msg"></i>我的信息</a></li>
                    </ul>
                </div>

                <div class="user-profile-ad1">
                </div>
            </div>
            <div class="col-main">

                <!-- 我的信息 {-->
                <div class="box box--big personal-msg">
                    <div class="box__hd">
                        <h3 class="box__hd__title"><strong>我的</strong>信息</h3>
                    </div>
                    <div class="box__bd">

                        <table class="tb-general tb-general--msg">
                        <thead>
				            <tr>
				                <th>发送人</th>
				                <th>标题</th>
				                <th>时间</th>
				            </tr>
				        </thead>
				        <tbody id="box-msg-list-wrap">
				         
				           
				           
				        </tbody>
                        </table>
                        
                        <div  id="pager-wrap"></div>
						
                    </div>
                </div>
                <!--} 我的礼包 -->
            </div>
        </div>

        <!-- footer-nav {-->
        <% include ../../partial/footer-nav %>
        <!--} footer-nav -->

        <!-- vip-footer {-->
        <% include ../../partial/vip-footer %>
        <!--} vip-footer -->

    </div>

    <script type="text/html" id="tpl-pager">
	    <!-- 分页 {-->
	    <% include ../../partial/pager %>
	    <!--} 分页 -->
    </script>
    
    <script type="text/html" id="tpl-box-msg-list">
    	
    </script>
    <script>
        seajs.config({
            //alias: {
            //    "jQuery": "../lib/jquery-1.11.0.js"
            //}
            map : [
                [ /^(.*\.(?:js))(.*)$/i, '$1?_=20140620']
            ]
        })
        seajs.use(['/assets/js/logic/myinfo/index','/assets/js/logic/myinfo/detail']);

     </script>
     
  
</body>
</html>
