<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="<%= global.keywords %>">
    <meta name="description" content="<%= global.description %>">
    <title><%= global.site_name %></title>
     <link href="/assets/css/base.css" rel="stylesheet">
    <link href="/assets/css/center.css?v=3" rel="stylesheet">
   <script src="http://dl2.vip.yystatic.com/assets/js/sea2.0.0.js"></script>
</head>
<body>
    <div class="wrap index-wrap">
        <!-- vip-header {-->
        <% include ../../partial/vip-header %>
        <!--} vip-header -->

        <div class="wp-main clearfix ">
            <div class="col-side">

                <div class="side-menu">
                    <ul>
                        <li><a href="index.html"><i class="side-menu__icon side-menu__icon--center"></i>个人中心</a></li>
                        <li><a href="mygift.html"><i class="side-menu__icon side-menu__icon--gift"></i>我的礼包</a></li>
                        <li class="current"><a href="#"><i class="side-menu__icon side-menu__icon--privilege"></i>特权设置</a>
                            <ul class="side-privilege_list">
                                <li class="current"><a href="#0" class="side_privilege_item" data-target="redname" data-intro="04">会员红名</a></li>
                                <li><a href="#1" class="side_privilege_item" data-target="skin" data-intro="17">会员皮肤</a></li>
                                <li><a href="#2" class="side_privilege_item" data-target="logo" data-intro="15">动态头像</a></li>
                                <li><a href="#3" class="side_privilege_item" data-target="ring" data-intro="08">会员炫铃</a></li>
                                <li><a href="#4" class="side_privilege_item" data-target="privilege" data-intro="11">在线特权</a></li>
                                <li><a href="#5" class="side_privilege_item" data-target="popup" data-intro="23">对话气泡</a></li>
                                <li><a href="#6" class="side_privilege_item" data-target="infoskin" data-intro="24">资料卡皮肤</a></li>
                                <li><a href="#7" class="side_privilege_item" data-target="logoprecious" data-intro="25">头像框饰</a></li>
                                <li><a href="#8" class="side_privilege_item" data-target="setcode">靓号图标管理</a></li>
                            </ul>
                        </li>
                        <li><a href="myinfo.html"><i class="side-menu__icon side-menu__icon--msg"></i>我的信息</a></li>
                    </ul>
                </div>
                <div class="user-profile-ad1">
                </div>
            </div>
            <div class="col-main">

                <!-- 我的特权 {-->
                <div class="box box--big center-privilege-box">
                    <div class="box__hd">
                        <h3 class="box__hd__title"><strong>特权</strong>设置<a href="http://vip.yy.com/vip/introduction#04" class="box__hd__title-link" target="_blank">特权详情&gt;&gt;</a></h3>
                    </div>
                    <div class="box__bd">

                        <div class="tab-box">
                            <!-- <div class="tab-box__hd">
                                <ul class="tab-box__hd__tab">
                                    <li><a href="#0" data-target="redname">会员红名</a></li>
                                    <li><a href="#1" data-target="skin">会员皮肤</a></li>
                                    <li><a href="#2" data-target="logo">动态头像</a></li>
                                    <li><a href="#3" data-target="ring">会员炫铃</a></li>
                                    <li><a href="#4" data-target="privilege">在线特权</a></li>
                                </ul>
                                
                            </div> -->
                            <div class="tab-box__bd" id="tab-box-redname">
                                <p class="red-name__p">您目前还不是YY会员，无法享受频道红名特权！</p>
                                <div class="red-name">
                                    <div class="red-name__row">
                                        <label>第一个频道红名</label><input type="text" disabled id="redName1" placeholder="请输入频道号">
                                        <input type="hidden"/>
                                    </div>
                                    <div class="red-name__row">
                                        <label>第二个频道红名</label><input type="text" disabled id="redName2" placeholder="请输入频道号">
                                        <input type="hidden"/>
                                    </div>
                                    <div class="red-name__row">
                                        <label>第三个频道红名</label><input type="text" disabled id="redName3" placeholder="VIP3-VIP5开启设置">
                                        <input type="hidden"/>
                                    </div>
                                    <div class="red-name__row">
                                        <a href="javascript:;" class="red-name__btn" id="red-name-submit">确认</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-box__bd" id="tab-box-skin">
                                <div class="skin-select">
                                    <h4>选择会员皮肤</h4>
                                    <ul class="skin-select__list clearfix">
                                    </ul>
                                </div>

                                <div class="skin-preview mod-preview">
                                    <h4>预览（YY主面板）</h4>
                                    <div class="skin-preview__img" style="background: url(http://dl.vip.yy.com/vipskin/jpg/56.jpg) no-repeat">
                                        <!-- <img src="http://file.do.yy.com/group3/M02/59/54/tz0MYFTbBRGAS7odAAAnrv4Bwf8876.png" alt="会员皮肤"> -->
                                        <p class="skin-preview_pinfo" id="skin_preview_pinfo">
                                        	<span class="skin-preview_pinfo_show" id="skin_preview_pinfo_show_image"></span>
                                        	<span class="skin-preview_pinfo-name" id="skin_preview_pinfo-name_cnt"></span>
                                        </p>
                                    </div>
                                    <div class="skin-preview__show">
                                        <a href="javascript:;" id="select-skin-submit">确定</a>
                                        <label><input type="checkbox" id="skin-showtoother" checked>向Ta秀皮肤</label>
                                    </div>
                                    <div class="skin-preview__info">
                                        <h5>自定义皮肤</h5>
                                        <div class="skin-preview__info__img">
                                            <a href="http://vip.yy.com/vip/introduction#20" target="_blank"><img src="http://file.do.yy.com/group3/M02/59/54/tz0MYFTbFUWADkXFAABDniIpHTY771.jpg" alt="自定义皮肤，我的皮肤我做主"></a>
                                        </div>
                                        <ul>
                                            <li>*V1-V2的会员每月可更换1次,V3以上或年费每月2次</li>
                                            <li>*<a href="http://vip.yy.com/vip/pay" target="_blank">开通会员立即恢复</a>过期的自定义皮肤</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-box__bd" id="tab-box-logo">
                                <div class="face-select">
                                    <h4>选择会员头像</h4>
                                    <ul class="face-select__list clearfix">
                                    </ul>
                                </div>

                                <div class="face-preview mod-preview">
                                    <h4>预览</h4>
                                    <div class="face-preview__img" >
                                        <img src="http://downhdlogo.yy.com/vipsys/67/07/45/3811450767/T1YabeBsET1RCvBVdK.gif" alt="">
                                        <span>100*100</span>
                                    </div>
                                    <div class="face-preview__img face-preview__img--s" >
                                        <img src="http://downhdlogo.yy.com/vipsys/67/07/45/3811450767/T1YabeBsET1RCvBVdK.gif" alt="">
                                        <span>60*60</span>
                                    </div>
                                    <div class="face-preview__confirm">
                                        <a href="javascript:;" id="select-logo-submit">确定</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-box__bd" id="tab-box-ring">

                                <div class="ringing">
                                    <p class="ringing__note"><i class="vip-level v1-gray"></i>你好，你还不是会员哦，VIP6与年费会员可以设置所以音乐，享有无限次修改的权限哦~</p>
                                    <!-- 消息铃声设置 {-->
                                    <div class="ring-box">
                                        <h4 class="ring-box__title"><i></i>消息铃声设置</h4>
                                        <div class="ring-box__bd" id="ring-box">
                                            <table class="ring-box__table">
                                                <tbody>
                                                    <tr>
                                                        <th>VIP1-VIP2</th>
                                                        <td id="ring-box-vip12">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>VIP3-VIP5</th>
                                                        <td id="ring-box-vip35">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>VIP6/年费</th>
                                                        <td id="ring-box-vip6year">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="ring-box__ft">
                                            <span class="ring-box__select" data-ringid="0" id="ring-box-select">当前选择:<em>无</em></span>
                                            <a href="javascript:;" class="ring-box__submit" id="ring-box-submit">确定</a>
                                            <a href="javascript:;" class="ring-box__reset" id="ring-box-reset">恢复系统默认</a>
                                        </div>
                                    </div>
                                    <!--} 消息铃声设置 -->
                                     <!-- 一对一语音设置 {-->
                                    <div class="ring-box">
                                        <h4 class="ring-box__title ring-box__title--s2"><i></i>一对一语音设置</h4>
                                        <div class="ring-box__bd" id="voice-box">
                                            <table class="ring-box__table">
                                                <tbody>
                                                    <tr>
                                                        <th>VIP1-VIP2</th>
                                                        <td id="voice-box-vip12">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>VIP3-VIP5</th>
                                                        <td id="voice-box-vip35">
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <th>VIP6/年费</th>
                                                        <td id="voice-box-vip6year">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="ring-box__ft">
                                            <span class="ring-box__select" data-voiceid="0" id="voice-box-select">当前选择:<em>无</em></span>
                                            <a href="javascript:;" class="ring-box__submit" id="voice-box-submit">确定</a>
                                            <a href="javascript:;" class="ring-box__reset" id="voice-box-reset">恢复系统默认</a>
                                        </div>
                                    </div>
                                    <!--} 一对一语音设置 -->
                                      <!-- 好友上线提醒 {-->
                                    <div class="ring-box">
                                        <h4 class="ring-box__title ring-box__title--s3"><i></i>好友上线提醒</h4>
                                        <div class="ring-box__bd" id="remind-box">
                                            <table class="ring-box__table">
                                                <tbody>
                                                    <tr>
                                                        <th>VIP1-VIP2</th>
                                                        <td id="remind-box-vip12">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>VIP3-VIP5</th>
                                                        <td id="remind-box-vip35">
                                                        </td>
                                                    </tr>
                                                     <tr>
                                                        <th>VIP6/年费</th>
                                                        <td id="remind-box-vip6year">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <input type="hidden" id="remind-box__select" data-remindid="0"/>
                                            <div class="ring-box__setting">
                                                <div class="firend-box">
                                                    <div class="firend-box__hd" id="selFirends1">
                                                        <select name="">
                                                            <option value="全部好友">全部好友</option>
                                                        </select>
                                                    </div>
                                                     <div class="firend-box__bd" id="remind-box-friends">
                                                        <table>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="remind-setting">
                                                    <div class="remind-setting__hd">
                                                        <a href="javascript:;" id="clear-all-remind">全部清除</a>
                                                        <h5>已对下列好友设置铃声</h5>
                                                    </div>
                                                     <div class="remind-setting__bd">
                                                        <table id="remind-setting-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>选中的好友</th>
                                                                    <th>设置铃声</th>
                                                                    <th>设置</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="remind-setting__ft">
                                                        您已经设定了<strong id="remindRingSetNumber">0</strong>个好友，还可以设置<strong id="remindRingLeftNumber">0</strong>个好友
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--} 好友上线提醒 -->
                                </div>
                            </div>
                            <div class="tab-box__bd" id="tab-box-privilege">
                                <!-- 在线特权 {-->
                                <div class="online-privilege">
                                    <div class="online-privilege__hd">
                                        <ul>
                                            <li class="current" data-type="onlineToHide" data-setType="0">在线对其隐身</li>
                                            <li data-type="hideToOnline" data-setType="1">隐身对其在线</li>
                                        </ul>
                                    </div>
                                    <div class="online-privilege__bd">
                                        <div class="firend-box">
                                            <div class="firend-box__hd" id="selFirends2">
                                                <select name="" >
                                                    <option value="全部好友">全部好友</option>
                                                </select>
                                            </div>
                                             <div class="firend-box__bd" id="online-set-friends">
                                                <table>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- 选中的好友 {-->
                                        <div class="select-persion">
                                            <div class="select-persion__hd">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th width=190>选中的好友</th>
                                                            <th width=100>设置类型</th>
                                                            <th width=100>操作</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div class="select-persion__bd" id="set-onlineToHide">
                                                <table>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="select-persion__bd" id="set-hideToOnline">
                                                <table>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="select-persion__ft">
                                                您已经设定了<strong id="online-set-number">0</strong>个好友，还可以设置<strong id="online-set-left-number">0</strong>个好友
                                            </div>
                                        </div>
                                        <!--} 选中的好友 -->
                                    </div>
                                </div>
                                <!--} 在线特权 -->
                            </div>
                            <!-- 对话气泡 -->
                            <div class="tab-box__bd" id="tab-box-popup">
                                <div class="popup-select">
                                    <h4>选择对话气泡<span>（请使用YY7.0以上版本）</span></h4>
                                    <ul class="popup-select__list clearfix">

                                    </ul>
                                </div>
                                <div class="popup-preview mod-preview">
                                    <h4>预览（YY聊天窗）</h4>
                                    <div class="popup-preview__img">
                                        <div class="popup-preview__img--s"></div>
                                    </div>
                                    <div class="popup-preview__show">
                                        <a href="javascript:;" id="select-popup-submit">确定</a>
                                    </div>
                                </div>
                            </div>
                            <!-- 资料卡皮肤 -->
                            <div class="tab-box__bd" id="tab-box-infoskin">
                                <div class="infoskin-select">
                                    <h4>选择资料卡皮肤</h4>
                                    <ul class="infoskin-select__list clearfix">

                                    </ul>
                                </div>
                                <div class="infoskin-preview mod-preview">
                                    <h4>预览（迷你资料卡）</h4>
                                    <div class="infoskin-preview__img">
                                        <div class="infoskin-preview__img_wrap">
                                        </div>
                                        <img class="infoskin-preview__yshow"/>
                                    </div>
                                    <p>大资料卡、迷你资料卡一起换装！</p>
                                    <div class="infoskin-preview__show">
                                        <a href="javascript:;" id="select-infoskin-submit">确定</a>
                                    </div>
                                </div>
                            </div>
                            <!-- 头像框饰 -->
                            <div class="tab-box__bd" id="tab-box-logoprecious">
                                <div class="logoprecious-select">
                                    <h4>选择头像框饰</h4>
                                    <ul class="logoprecious-select__list clearfix">

                                    </ul>
                                </div>
                                <div class="logoprecious-preview mod-preview">
                                    <h4>预览（YY主面板和聊天窗）</h4>
                                    <div class="logoprecious-preview__img">
                                        <img id="logoprecious-preview__img1"/>
                                        <img id="logoprecious-preview__img2"/>
                                        <div id="logoprecious-preview__icon1"></div>
                                        <div id="logoprecious-preview__icon2"></div>
                                    </div>
                                    <div class="logoprecious-preview__show">
                                        <a href="javascript:;" id="select-logoprecious-submit">确定</a>
                                    </div>
                                </div>
                            </div>
                            <!--靓号图标管理 -->
                            <div class="tab-box__bd setcodemod" id="tab-box-setcode"></div>
                        </div>
                    </div>
                </div>
                <!--} 我的特权 -->
            </div>
        </div>

        <!-- footer-nav {-->
        <% include ../../partial/footer-nav %>
        <!--} footer-nav -->

        <!-- vip-footer {-->
        <% include ../../partial/vip-footer %>
        <!--} vip-footer -->

    </div>
    <div id="niftyPlayer1"></div>
    <script type="text/html" id="tpl-managecode">
		{{if isLogin}}
    		{{if icons && icons.length > 1}}
    			<p class="setcodemod-tips">你目前可管理的靓号图标如下</p>
			{{else if icons && icons.length == 1}}
	    		<p class="setcodemod-tips">你已点亮如下靓号图标</p>
	    	{{else}}
	    		<p class="setcodemod-tips">你目前无可管理的靓号图标，前往<a target="_blank" href="http://vip.yy.com/p/nicecode/index.html">靓号商城</a>点亮<strong>靓</strong>图标</p>
	    	{{/if}}
		{{/if}}
	    {{if icons && icons.length}}
		    <div class="setcodemod-manage">
		    	<h2 class="setcodemod-h_1">靓号图标管理</h2>
		    	<ul class="setcodemod-manage-list" id="setcodemod_manage">
		    		{{each icons}}
			    		<li class="j-item{{if $value.inUse==1}} selected{{/if}}" data-pid="{{$value.priviType}}:{{$value.type}}">
			    			<span class="setcodemod-manage-list-icon">
			    				<img alt="{{$value.name}}" src="{{$value.iconUrl}}">
			    			</span>
			    			<span class="setcodemod-manage-list-name j-iconname">{{$value.name}}</span>
			    			有效期：{{if $value.priviType === 7}}与会员身份绑定{{else if $value.priviType === 8 && $value.endTime > "2038"}}与会员身份绑定{{else}}{{$value.endTime}}{{/if}}
			    		</li>
			    	{{/each}}
		    	</ul>
		    	{{if icons && icons.length > 1}}
			    	<p class="setcodemod-manage-btn">
			    		你目前拥有<span class="j-time">{{changeIconChances}}</span>次机会，<a class="setcodemod-manage-btn-more" target="_blank" href="http://vip.yy.com/vip/redirect?src=tbbgk">获取更多更换机会</a>。当前选择：<strong class="j-name">{{selectedName}}</strong>
			    		<a data-pid="{{selectedId}}" class="setcodemod-manage-btn-change j-btn" href="javascript:;">更换</a>
			    	</p>
			    {{/if}}
		    </div>
		{{/if}}
	    <div class="setcodemod-show">
	    	<h2 class="setcodemod-h_2">靓号图标展示场景</h2>
	    	<ul class="setcodemod-show-list">
	    		<li><strong class="setcodemod-show-list_1">频道公屏聊天</strong></li>
	    		<li><strong class="setcodemod-show-list_2">大资料卡</strong></li>
	    		<li><strong class="setcodemod-show-list_3">迷你资料卡</strong></li>
	    	</ul>
	    </div>
	    {{if icons && icons.length > 1}}
		    <div class="setcodemod-rules">
		    	<h2 class="setcodemod-h_3">设置规则</h2>
		    	<ul class="setcodemod-rules-list">
		    		<li>若参加活动点亮了新的图标，则新点亮的立刻生效；</li>
		    		<li><a target="_blank" href=" http://vip.yy.com/vip/redirect?src=tbbgk"><strong>兑换靓号图标变更卡</strong></a>可获得更换靓号图标的机会；</li>
		    		<li>当前点亮的图标过期后，系统自动从有效期内的其他图标按本页面的优先顺序选择一个点亮。</li>
		    	</ul>
		    </div>
		{{/if}}
    </script>
    <script type="text/html" id="skin-list">
    {{each skinList as v i}}
    <li>
        <a href="javascript:;" data-skin="{{v.url}}">
            <img src="{{v.png}}" alt="皮肤">
        </a>
    </li>
    {{/each}}
    </script>
    <script type="text/html" id="logo-list">
    {{each logoList as v i}}
    <li>
        <a href="javascript:;" data-logo="{{v.gif}}" data-logoId="{{v.id}}">
            <img src="{{v.png}}" title="需V{{v.level}}以上会员使用" alt="需V{{v.level}}以上会员使用">
        </a>
    </li>
    {{/each}}
    </script>
    <script type="text/html" id="ring-list">
    {{each data as v i}}
    <span class="ring-box__item"><input name="{{type}}" type="radio" data-id="{{v.id}}" data-name="{{v.name}}" {{v.disabled?'disabled':''}}><label for="{{v.id}}">{{v.name}}</label><a href="javascript:;" data-url="{{v.url}}" title="试听"></a></span>
    {{/each}}
    </script>
    <script type="text/html" id="friend-list">
    {{each list as v i}}
    <tr>
        <td><span class="firend-box__name" title="{{v.nickName}}">{{v.nickName}}</span></td>
        <td><span class="firend-box__num">({{v.imid}})</span></td>
        <td><a href="javascript:;" class="firend-box__set" data-uid="{{v.uid}}">设置</a></td>
    </tr>
    {{/each}}
    </script>
    <script type="text/html" id="ring-set-friend-list">
    {{each remindRingSettings as v i}}
    <tr>
        <td><span class="remind-setting__name">{{v.friendInfo.nickName}}</span></td>
        <td><span class="remind-setting__ring">{{v.ringName}}</span></td>
        <td><a href="javascript:;" class="remind-setting__cancel" data-uid="{{v.friendInfo.uid}}">清除</a></td>
    </tr>
    {{/each}}
    </script>
    <script type="text/html" id="hideToOnline-set-list">
    {{each hideToOnlineUsers as v i}}
    <tr>
        <td><span class="setting__name">{{v.nickName}}</span></td>
        <td><span class="setting__func">隐身对其在线</span></td>
        <td><a href="javascript:;" data-setType="3" data-uid="{{v.uid}}" class="setting__cancel">取消设置</a></td>
    </tr>
    {{/each}}
    </script>
    <script type="text/html" id="onlineToHide-set-list">
    {{each onlineToHideUsers as v i}}
    <tr>
        <td><span class="setting__name">{{v.nickName}}</span></td>
        <td><span class="setting__func">在线对其隐身</span></td>
        <td><a href="javascript:;" data-setType="2" data-uid="{{v.uid}}" class="setting__cancel">取消设置</a></td>
    </tr>
    {{/each}}
    </script>
    <script type="text/html" id="popupTpl">
    {{each data as v i}}
        {{if v.type == "会员"}}
            <li>
                <a href="javascript:;" data-id="{{v.id}}">
                    <img src="{{v.thumburl}}"/>
                </a>
            </li>
        {{/if}}
    {{/each}}
    </script>
    <script type="text/html" id="infoskinTpl">
    {{each data as v i}}
        {{if v.type == "会员"}}
            <li>
                <a href="javascript:;" data-id="{{v.id}}" data-imgurl="{{v.imgurl}}">
                    <img src="{{v.thumburl}}"/>
                </a>
            </li>
        {{/if}}
    {{/each}}
    </script>
    <script type="text/html" id="logopreciousTpl">
    {{each data as v i}}
        {{if v.type == "会员"}}
            <li>
                <a href="javascript:;" data-id="{{v.id}}" data-imurl="{{v.imImgUrl}}" data-panelurl="{{v.mainPanelImgUrl}}">
                    <img src="{{v.thumburl}}"/>
                </a>
            </li>
        {{/if}}
    {{/each}}
    </script>
    <script>
        seajs.config({
            //alias: {
            //    "jQuery": "../lib/jquery-1.11.0.js"
            //}
            map : [ [ /^(.*\.(?:js))(.*)$/i, '$1?_=20150212' ] ]
        })
        seajs.use([ '/assets/js/logic/profile/privilege' ]);
    </script>
</body>
</html>
