.firend-box {
    width: 245px;
}
.firend-box__hd {
    margin-bottom: 10px;
    select {
        width: 100%;
        border-color: #f3f3f3;
        background-color: #fbfbfb;
        height: 23px;
    }
}
.firend-box__bd {
    background: #fbfbfb;
    line-height: 22px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 240px;
    table {
        width: 100%;
    }
}
.firend-box__name,
.firend-box__num {
    display: block;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90px;
    padding: 0 0 0 5px;
}
.firend-box__num {
    color: #b1b1b1;
    width: 80px;
    padding: 0 0 0 5px;
}
.firend-box__set {
    color: #b1b1b1;
    display: block;
    height: 22px;
    padding: 0 10px 0 5px;
    &:hover {
        color:#f50a0e;
        text-decoration: none;
    }
}