//nav
.nicecode-nav-wrap{
    border-bottom:2px solid #fafafa;
    height:32px;
}
.nicecode-nav{
    width:740px;
    margin:0 auto;
    padding-left:370px;
    li{
        float:left;
        font-size: 14px;
        font-family: "Microsoft Yahei";
        line-height: 32px;
        width:85px;
        text-align:center;
        margin-right:5px;        
        a{
            width:100%;
            height:100%;
            display:block;
            border-bottom:2px solid #fafafa;
            &:link,&:visited{
                color:#606060;

            }
        }
        a.active{
            border-bottom:2px solid #d6090d;
        }
    }
}
.loading{
    background:url(/assets/img/ajaxloaderbig.gif) no-repeat center center;
}