.nicecode-list__N{
    .nicecode-list_side{
        background-color:#f39c12;
        .nicecode-list_icon{
            background-position:-700px 0;
        }
        a{
            color:#f39c12;
        }
    }
}
.nicecode-list__N .nicecode-list_main ul, ul.nicecode-list__N{
    li{   
        border:0;       
        a{                   
            &:hover{
                border:1px solid #f39c12;                  
            }
            h3{
                em{
                    color:#f39c12;
                }
            } 
            .item-desc-money{
                color:#f39c12;   
            }
        }
        a.btn-change{
            color:#f39c12;                   
        }
    }
}

i.icon_imcode_0{
    background-position:-552px -4px!important;
}
i.icon_imcode_1{
    background-position:-451px 0!important;
}
i.icon_imcode_2{
    background-position:-451px -30px!important;
}


.nicecode-list__C{
    .nicecode-list_side{
        background-color:#9b59b6;
        .nicecode-list_icon{
            background-position:-800px 0;
        }
        a{
            color:#9b59b6;
        }
    } 
}

.nicecode-list__C .nicecode-list_main ul, ul.nicecode-list__C{
    li{   
        border:0;       
        a{
            &:hover{
                border:1px solid #9b59b6;                  
            }
            h3{
                i{
                    background-position: -501px 0;                            
                }
                em{
                    color:#9b59b6;
                }
            } 
            .item-desc-money{
                color:#9b59b6;   
            }
        }
        a.btn-change{
            color:#9b59b6;
        }
    }
}

.nicecode-list__L{
    height:243px;
    .nicecode-list_side{
        height:243px;
        background-color:#d50000;
        .nicecode-list_icon{
            background-position:-600px 0;
        }
        a{
            color:#d50000;
        }
    }
   
}

.nicecode-list__L .nicecode-list_main ul, ul.nicecode-list__L{
    li{   
        height:123px;
        border:0;       
        a{
            height:121px;
            &:hover{
                border:1px solid #d50000;                  
            }
            h3{
                i{
                    background-position: -552px 0;
                    width:28px;
                    height:28px;
                    margin-top:10px;
                }
                em{
                    color:#d50000          
                }
            } 
            .item-desc-money{
                color:#d50000;   
            }
        }
        a.btn-change{
            color:#d50000;
        }
    }
}
.nicecode-list__L .nicecode-list_main ul{
    height:243px;
}