
.table-s3 {
    width: 100%;
    margin: 0 0 40px;
    text-align: center;
    td,
    th {
        border: 1px solid #f3f3f3;
        font-weight: 400;
        padding: 0 8px;
    }
    th {
        background: #FAFAFA;
    }
    td {

    }
    thead {
        line-height: 48px;
        font-size: 14px;
        font-family: "Microsoft Yahei";
    }
    tbody {
        line-height: 44px;
        th {
            font-weight: 700;
        }
    }
    .highlight {
        color:#d6090d;
    }
    .hbg{
    	background-color: #ffffff;
    }
    .fbg{
    	background-color: #fafafa;
    }
    .icon-right {
        background: url(../img/icon-right.png) no-repeat;
        width: 19px;
        height: 15px;
        display: inline-block;
        zoom:1;
        vertical-align: middle;
    }
    .current {
        background: #fffef6;
    }
    em {
        color:#d6090d;
        font-weight: 700;
    }
    
    
}
.table-s3__name {
    text-align: left;
}

.table-s3--noborder {
    border: 1px solid #f3f3f3;
    td,
    th {
        border: 0px;
        border-bottom: 1px solid #f3f3f3;
    }
    thead,
    tbody {
        line-height: 42px;
    }
    tbody {
        font-size: 13px;
    }
}