.table-s2 {
    width: 100%;
    text-align: center;
    td,
    th {
        border: 1px solid #e3c483;
        font-weight: 400;
        padding: 0 8px;
        line-height: 33px;
        font-size: 12px;
    }
    th {
        font-weight: 700;
        background: #fef9e1;
    }
    .icon-right {
        background: url(../img/icon-right.png) no-repeat;
        width: 19px;
        height: 15px;
        display: inline-block;
        zoom:1;
        vertical-align: middle;
    }
}