.block-tips {
    border: 1px solid #ffd57f;
    padding: 15px 20px;
    background: #fff6e5;
    margin-bottom: 20px;
}
.block-tips__text {
    font-size: 16px;
    color: #666;
    font-family: "Microsoft Yahei";
    a {
        color:#d6090d;
        &:hover {
            text-decoration: underline;
        }
    }
}