.footer-nav {
	background: #fafafa;
	padding: 55px 0;
}
.footer-nav__inner {
	width: 274px * 3 + 2px;
	margin: 0 auto;
	overflow: hidden;
	zoom:1;
}
.footer-nav__item {
	float: left;
	width: 274px;
	height: 93px;
	color: #999;
	&:hover {
		text-decoration: none;
		color: #999;
	}
	i {
		float: left;
		width: 80px;
		height: 80px;
		background: url(http://file.do.yy.com/group3/M03/5B/64/tz0MYFVxD7aAc9XaAAAZL3AnEOM647.png) no-repeat;
		margin: 0 15px 0 47px;
		display: inline;
		cursor: pointer;
	}
	dt {
		color: #333;
		font-sie: 18px;
		font-family: 'Microsoft Yahei';
		padding: 8px 0;
	}
	dl,
	dt,
	dd {
		cursor: pointer;
	}
}

.footer-nav__item02 {
	border-right: 1px dashed #dcdcdc;
	border-left: 1px dashed #dcdcdc;
}
.footer-nav__item01 {
	i {
		background-position: -160px 0;
	}
}
.footer-nav__item02 {
	i {
		background-position: -80px 0;
	}
}
.footer-nav__item03 {
	i {
		background-position: -240px 0;
	}
}