.vip-footer {
    padding: 70px 0 30px;
    text-align: center;
    a, span {
        margin: 0 8px;
        strong {
            color: #ce0000;
        }
    }
}
.vip-footer__links {
    margin-bottom: 5px;
}
// .vip-footer__copy {

// }