iconbg = transparent url(http://file.do.yy.com/group3/M01/59/4B/tz0GSFTYaZSATGRcAABt0eXsVk8341.png) no-repeat

.container-wrap{
	width:100%;

	background:transparent url(http://file.do.yy.com/group3/M03/59/46/tz0MYFTYItWAOvzqAAGsxOEaN7c711.jpg) no-repeat top center;
}

.main-hd{
	width:998px;
	height:416px;
	margin:0 auto;
	position: relative;
}


.main-bd{
	width: 998px;
	background:iconbg 0 -115px;
	height:223px;
	padding-top:20px;
	margin:0 auto;
	
}

.main-title{
	background: iconbg -415px 0;
	width: 187px;
	height: 41px;
	margin: -20px auto 20px auto;
	text-indent:-99em;
	overflow:hidden;
	z-index:1;
}

.main-ft{
	z-index:0;
	width:730px;
	margin:70px auto 150px auto;
	background-color:#350054;
	padding:0 38px;
}

a.channel-link{
	position:absolute;
	display:block;
	width: 182px;
	height: 53px;
	background:iconbg 0 0;
	text-indent:-99em;
	overflow:hidden;
	top:364px;
	right:36px;
	&:hover{
		background-position:-200px 0;
	}
}
///////////////////////////////
.main-nav{
	margin:370px 0 0 10px;
	li{
		float:left;
	}
	a{		
		display:block;		
		font-size:18px;
		font-weight:bold;
		font-family: "Microsoft YaHei", "Apple LiGothic Medium", "SimHei";
		color:#fff;
		height:47px;
		background:iconbg 0 right;
		line-height:48px;
		
	}
	span.nav-left{			
		float:left;
		height:47px;
		width:20px;
		background:iconbg -753px -52px;
	}
	span.nav-right{
		float:left;
		background:iconbg right -52px;
		height:47px;
		padding-right:20px;
	}
	li.active{
		span.nav-left{			
			background-position:-754px 0;
		}
		span.nav-right{
			background-position:right 0;

		}	
	}
	
}

/////////////////////////////

.tab-container__bd{
	width:906px;
	height:190px;
	overflow:hidden;
	border:8px solid #541c86;
	margin:0 auto;
	position:relative;
	a{
		position:absolute;
		display:block;
		width:906px;
		height:190px;				
		img{
			display:block;
			width:906px;
			height:190px;
		}
	}
}

/////////////////////////////////
.slide-s3{margin:0;}
.ft-tips{
	font-size:12px;
	font-family:"Microsoft YaHei", "Apple LiGothic Medium", "SimHei";
	color:#81529d;
	text-align:right;
	line-height:30px;
	margin-bottom:20px;
}